/* HEADER */
header {
    background-color: #fff;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    align-content: center;
}

header div button#button-icon {
    color: #3498DB;
    border: 1px solid rgb(165, 163, 163);
}

button#button-icon mat-icon {
    margin-bottom: 2px;
}

header div#button {
    justify-content: center;
    display: flex;
}

div.col-md-7.flex + div.col-md-4.flex {
    justify-content: center;
    align-items: center;
}

/* button#add + button {
    margin-left: auto;
    color: #ff0f0f;
    border: 1px solid rgb(165, 163, 163);
} */

button#add {
    display: grid;
    margin-left: auto;
}

#contato {
    width: 30px;
    margin-right: 8px;
}

/* MAIN */
main {
    margin: 32px auto 0 auto;
    padding: 0;
}

h5 + button.icons {
    margin-left: auto;
    border: 1px solid rgb(165, 163, 163);
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 5px;
    margin-right: 16px;
}

main div div h5 {
    margin-left: 8px;
    margin-top: 8px;
    font-size: 26px;
    font-weight: bold;
}

button mat-icon#edit {
    font-size: 20px;
}

div h5 + button.icons, div.flex h5, div.bg-white div.flex {
    margin-top: 10px;
}

.no-pd-l {
    padding-left: 0;
} 

div.no-pd-l div.bg-white {
    padding-top: 1px;
}

hr + div.form-group {
    padding-bottom: 16px;
} 

.b-b {
	color: #3c98c0;
	text-align: start;
}

.only-select {}

div.only-select {
    justify-content: center;
}

div.only-select mat-icon {
    color: #5F6A6A
}

div.only-select mat-icon + p{
    color: #5DADE2;
    font-weight: bold;
}

hr + div.row {
    padding-bottom: 16px;
}

.align-divs {
    margin-top: 50px;
    padding-bottom: 16px;
}

.leads {
    border: 1px solid #c7c7c7;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px auto 5px auto;
    cursor: pointer;
    padding: 10px;
    width: 170px;
    height: 85px;
}

.limit-words {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

#red, #green, #orange {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: auto;
}
  
#red {
    color: red;
}
  
#green {
    color: green;
}
  
#orange {
    color: orange;
}

.progress {
    height: 2px;
    background-color: green;
    margin-top: 4px;
}

h5#vision {
    margin: 10px 0 0 16px;
}

div.flex p#created_at {
    margin-left: 16px;
}

div.flex p#created_at + p {
    margin-left: auto;
    margin-right: 16px;
}

/* COLUMN RIGHT */
.tabs {
    background-color: #fff;
}

.headers {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dcdddd;
}

li {
    display: flex;
    position: relative;
    height: 47px;
}

div.tabs ul.headers li a {
    position: relative;
    font-weight: 600;
    background: #fff;
    color: #747678;
    outline: 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: background-color .1s ease;
    background: #eff5fd;
    color: #317ae2;
}

@media (min-width: 800px) {
    a {
        padding: 8px 63.76px 7px;
    }
}

@media (min-width: 1445px) {

    a {
        padding: 8px 113.1px 7px;
    }
}

a mat-icon {
    margin-right: 4px;
}

div.fakeInput {
    align-items: center;
    padding-left: 16px;
    color: #b9babb;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

div.fakeInput div:nth-child(2) {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 16px;
}

input[type=file] {
    margin-right: 16px;
}

input[type=file] + button + button {
    margin-left: 16px;
}

input[type=file] + button {
    margin-left: 64px;
}

.align-button-icons-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.row.col-12 + div.row.col-12 {
    margin-top: 16px;
}

div.col-10.bg-white {
    padding: 10px 0 15px 25px;
}

.bg-white {
    margin-top: 10px;
    border-radius: 10px; 
	border: 1px solid rgb(226, 226, 226);
	background-color: #fff
}

.mg-tp-40 {
    margin-top: 40px;
}

.div-plan {
    width: 100px;
    height: 30px;
    margin: 32px auto 32px auto;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #747678;
    color: white;
    border-radius: 35px;
}

.icons-hist {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5F6A6A;
    border: 1px solid #e5e5e5;
    background-color: #fff;
}

mat-checkbox {
    margin-top: 6px;
    margin-right: 16px;
}

#day {
    color: green;
    font-size: 14px;
}

p#day + span {
    margin-left: 16px;
    margin-right: 16px;
}

/* TAB1: OBSERVAÇÕES */

.divright {
    padding: 0px;
}

.txtarea {
    margin-top: 20px;
	border-radius: 7px; 
	border: 1px solid rgb(207, 206, 206);
}

.fltright {
	float: right; 
}

.mg-r-5 {
	margin-right: 5px;
}

/* TAB2: ATIVIDADES */

.txtcenter {
	text-align: center;
}

.b-b {
	color: rgb(60, 152, 192);
}

/* TAB3: ANEXOS */

.mat-list-icon {
	color: rgba(0, 0, 0, 0.54);
}

button.btn.btn-success.bold.btn-sm.fltright {
    margin-bottom: 8px;
}

/* MODAL */
.icon-modal-lead{
    margin-right: 10px; 
    font-weight: bold; 
    width: 21px; 
    height: 21px; 
    font-size: 18px; 
    border-radius: 100px; 
    background-color: #c2c2c2; 
    color: #ffffff;
    font-size: 20px; 
    margin-left: 5px;
}

input[type=range] {
    -webkit-appearance: none;
    margin-top: 50px;
}
  
::-webkit-slider-runnable-track {
    height: 3px;
    background-image: linear-gradient(to right, #e23a3a, #f8ff97, #78ac78);
}
  
::-webkit-slider-thumb {
    margin-top: -7px;
}

span {
    margin-top: 10px;
}
  
span:nth-child(1) {
    margin-left: -5px;
}
  
span:nth-child(2) {
    margin-left: 55px;
}
  
span:nth-child(3) {
    margin-left: 40px;
}

img#codigo {
    height: 20px;
    margin-bottom: 8px;
}
  
button#code {
    height: 35px;
    margin-top: 32px;
}

.img-prod{
    width: 20px; 
    height: 20px; 
    margin-top: 5px; 
    margin-right: 5px;
  }