<div class="first-div">

    <div class="flex">
        <img src="../../assets/empresa.png">
        <h5>Cadastrar Empresa</h5>
    </div>

    <div class="row col-md-12 align-cod-button">
        <div class="form-group col-md-3">
            <label for="cod">Código</label>
            <input [(ngModel)]="org.codigo" value="{{this.code}}" type="text" class="form-control">
        </div>
        <button class="btn btn-primary" (click)="generateCode()" id="code">
            <img src="../../assets/cod.png" id="codigo">
        </button>
    </div>

    <div class="row col-md-12">
        <div class="form-group col-md-6">
            <label for="raz">Razão Social</label>
            <input [(ngModel)]="org.razaosocial" type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="name">Nome Fantasia</label>
            <input [(ngModel)]="org.nomefantasia" type="text" class="form-control">
        </div>
    </div>

    <div class="row col-md-12">
        <div class="form-group col-md-4">
            <label for="cnpj">CNPJ</label>
            <input type="text" class="form-control" mask="AA.AAA.AAA/AAAA-AA" placeholder="00.000.000/0000-00">
        </div>

        <div class="form-group col-md-4">
            <label for="ie">IE</label>
            <input [(ngModel)]="org.ie" type="text" class="form-control">
        </div>

        <div class="form-group col-md-4">
            <label for="ramo">Ramo</label>
            <button mat-icon-button>
                <mat-icon class="icon-modal-atv icon-dif">+</mat-icon>
            </button>
            <select class="form-control">
              <option>Plástico</option>
            </select>
        </div>
    </div>

    <div class="row col-md-12">
        <div class="form-group col-md-3">
            <label for="cep">CEP</label>
            <input [(ngModel)]="org.cep" type="text " class="form-control" mask="AA.AAA-AAA" placeholder="00.000-000">
        </div>

        <div class="form-group col-md-6">
            <label for="end">Endereço</label>
            <input [(ngModel)]="org.rua" type="text" class="form-control">
        </div>

        <div class="form-group col-md-3">
            <label for="exampleFormControlInput1">Bairro</label>
            <input [(ngModel)]="org.bairro" class="form-control">
        </div>
    </div>

    <div class="row col-md-12">
        <div class="form-group col-md-4">
            <label for="comp">Complemento</label>
            <input [(ngModel)]="org.complemento" type="text" class="form-control">
        </div>

        <div class="form-group col-md-3">
            <label for="cidade">Cidade</label>
            <input [(ngModel)]="org.cidade" type="text" class="form-control">
        </div>

        <div class="form-group col-md-2">
            <label for="estado">Estado</label>
            <input [(ngModel)]="org.uf" type="text" class="form-control" placeholder="SC" maxlength="2">
        </div>

        <div class="form-group col-md-3">
            <label for="telefone">Telefone</label>
            <input [(ngModel)]="org.telefone" type="text" class="form-control" mask="(AA) AAAA-AAAA"
                placeholder="(  )          - ">
        </div>
    </div>

    <div class="row col-md-12">
        <div class="form-group col-md-5">
            <label for="email">Email</label>
            <input [(ngModel)]="org.email" type="text" class="form-control" placeholder="exemplo@exemplo.com.br">
        </div>

        <div class="form-group col-md-4">
            <label for="site">Site</label>
            <input [(ngModel)]="org.site" type="text" class="form-control" placeholder="www.site.com.br">
        </div>

        <div class="form-group col-md-3">
            <label for="erp">ERP</label>
            <button mat-icon-button>
                <mat-icon class="icon-modal-atv icon-dif">+</mat-icon>
            </button>
            <select [(ngModel)]="org.erp" class="form-control">
              <option>TOTVS</option>
            </select>
        </div>
    </div>


    <hr>

    <div class="flex">
        <img src="../../assets/contato.png">
        <h5>Cadastrar Contato</h5>
        <button mat-icon-button>
            <mat-icon class="icon-modal-atv icon-dif">+</mat-icon>
        </button>
    </div>


        <div class="row col-md-12">
            <div class="form-group col-md-6">
                <label for="name">Nome</label>
                <input [(ngModel)]="contato.nome" type="text" class="form-control">
            </div>

            <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input [(ngModel)]="contato.email" type="text" class="form-control">
            </div>
        </div>

        <div class="row col-md-12">
            <div class="form-group col-md-4">
                <label for="email">Cargo</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label for="email">Departamento</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label for="email">Data Aniversário</label>
                <input type="date" class="form-control">
            </div>
        </div>

        <div class="row col-md-12">
            <div class="form-group col-md-4">
                <label for="email">Telefone</label>
                <input [(ngModel)]="contato.fone" type="text" class="form-control" mask="(AA) AAAA-AAAA"
                    placeholder="(  )          - ">
            </div>
            <div class="form-group col-md-4">
                <label for="email">Celular/WhatsApp</label>
                <input [(ngModel)]="contato.celular" type="text" class="form-control"
                    mask="(AA) AAAAA-AAAA" placeholder="(  )          - ">
            </div>
            <div class="form-group col-md-4">
                <label for="email">Skype</label>
                <input [(ngModel)]="contato.skype" type="text" class="form-control">
            </div>
        </div>

        <button class="btn btn-secondary" (click)="exit()">Sair</button>
        <button class="btn btn-primary">Salvar</button>

</div>