/* TICKETS */
.tickets {
  background-color: #a8a8a8;
  color: #fff;
}

div.tickets div {
  padding: 10px;
}

.space {
  width: 5%;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

div p {
  text-align: left;
  margin-left: 5px;
}

div p + p {
  text-align: left;
  margin-left: 5px;
  font-size: 14px;
}

.btn-circle.btn-sm {
  width: 25px;
  height: 25px;
  padding: 0px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
  margin-top: 22px;
  color: #7e7e7e;
  float: right;
  background-color: #fff;
}
/* LEADS  */
.leads {
  border: 1px solid #c7c7c7;
  background-color: #fff;
  border-radius: 10px;
  margin: 10px 1px 5px -5px;
  cursor: pointer;
  padding: 10px;
  width: 170px;
  height: 85px;
}

.font-grey-cards {
  color: #898989;
}

.limit-words {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.buttons-informations {
  display: flex;
  border: 0;
  border-radius: 15px;
  padding: 0px 10px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  margin-left: 4px;
}

.good {
  background-color: #4dc426;
}

.regular {
  background-color: #e5f72b;
}

.bad {
  background-color: #e22f2f;
}

.flex {
  display: flex;
}

button i {
  margin-top: 2px;
  font-size: 14px;
}

.btn-add {
  color: #fff;
  background-color: #5460E0;
  border-color: #5460E0;
}
/* TOPO */
h1 {
  margin-left: 20px;
  font-size: 35px;
  color: rgb(10, 24, 64);
}

h1 {
  font-size: 35px;
  color: rgb(10, 24, 64);
}

.btn1 {
  background-color: white;
  color: rgb(10, 24, 64);
  box-shadow: 2px black;
  margin-left: 30px;
}

mat-divider {
  margin: 20px;
  margin-top: 10px;
}

input[type=range] {
  -webkit-appearance: none;
  margin-top: 40px;
}

::-webkit-slider-runnable-track {
  height: 3px;
  background-image: linear-gradient(to right, rgb(226, 58, 58), rgb(248, 255, 151), rgb(120, 172, 120));
}

::-webkit-slider-thumb {
  margin-top: -7px;
}

.next-ativ {
  background-color: #e22f2f;
  border-radius: 8%;
  padding: 2%;
}

.col-md-2 {
  padding-left: 0 !important;
  padding-right: 0 !important;
  max-width: 14.29% !important;
}

img#arrow {
  height: 64px;
  margin-left: auto;
}

.fz-13 {
  font-size: 13px;
}

.fz-15 {
  font-size: 15px;
}

.bold {
  font-weight: bold;
}

.loc-button-top {
  display: flex;
  margin-left: 25px;
}

#red, #green, #orange {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: auto;
}

#red {
  color: red;
}

#green {
  color: green;
}

#orange {
  color: orange;
}

.thermometro {
  border: 3px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-left: auto;
}

.thermquente {
  color: #FF0000;
  font-size: 16px;
}

.thermmorno {
  color: #F3FF00;
  font-size: 16px;
}

.thermfrio {
  color: #0083FF;
  font-size: 16px;
}

span {
  margin-top: 10px;
}

span:nth-child(1) {
  margin-left: -5px;
}

span:nth-child(2) {
  margin-left: 55px;
}

span:nth-child(3) {
  margin-left: 40px;
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* Teste DD */

@media (max-width: 1366px) {
  .example-container {
    width: 12.4%;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }

  .test {
    width: 191px;
    display: flex;
  }
}

@media (min-width: 1445px) and (max-width: 1920px) {
  .example-container {
    width: 12.95%;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }

  .test {
    width: 270px;
    display: flex;
  }
}

img {
  margin-left: auto;
}

.example-list {
  min-height: 60px;
  background: transparent;
  border-radius: 4px;
  display: block;
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.nowrap {
  white-space: nowrap;
}

@keyframes move {
  from {
      left: 5%;
  }
  to {
      left: 85%;
  }
}

/* assign animation to ball element */
.ball {
  animation: 1s move;
}

lottie-animation-view {
  position: absolute;
  left: 40%;
  top: -4%;
  z-index: -1;
}
