/* TICKETS */
.tickets {
  background-color: #a8a8a8;
  color: #fff;
}

div.tickets div {
  padding: 10px;
}

.space {
  width: 5%;
}

.row1 {
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 100%;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

div p {
  text-align: left;
  margin-left: 5px;
}

div p + p {
  text-align: left;
  margin-left: 5px;
  font-size: 14px;
}

.btn-circle.btn-sm {
  width: 25px;
  height: 25px;
  padding: 0px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
  margin-top: 22px;
  color: #7e7e7e;
  float: right;
  background-color: #fff;
}

/* LEADS  */
.leads {
  border: 1px solid #c7c7c7;
  background-color: #fff;
  border-radius: 10px;
  margin-left: -5px;
  margin-right: 1px;
  cursor: pointer;
  padding: 10px;
  width: 160px;
  height: 85px;
  margin-bottom: 5px;
}

.font-grey-cards {
  color: #898989;
}

.limit-words {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.buttons-informations {
  display: flex;
  border: 0;
  border-radius: 15px;
  padding: 0px 10px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  margin-left: 4px;
}

.good {
  background-color: #4dc426;
}

.regular {
  background-color: #e5f72b;
}

.bad {
  background-color: #e22f2f;
}

button i {
  margin-top: 2px;
  font-size: 14px;
}

.btn-add {
  color: #fff;
  background-color: #5460e0;
  border-color: #5460e0;
}

/* TOPO */
h1 {
  margin-left: 20px;
  font-size: 35px;
  color: rgb(10, 24, 64);
}

.thermometro {
  background-color: #4dff00;
  border: 3px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-left: auto;
}

h1 {
  font-size: 35px;
  color: rgb(10, 24, 64);
}

.btn1 {
  background-color: white;
  color: rgb(10, 24, 64);
  box-shadow: 2px black;
  margin-left: 30px;
}

mat-divider {
  margin: 20px;
  margin-top: 10px;
}

@media (min-width: 1445px) {
  .row1 {
    max-width: 100%;
  }
}

.next-ativ {
  background-color: #e22f2f;
  border-radius: 8%;
  padding: 2%;
}

.col-md-2 {
  padding-left: 0 !important;
  padding-right: 0 !important;
  max-width: 14.29% !important;
}

img {
  height: 64px;
  margin-left: auto;
}

.fz-13 {
  font-size: 13px;
}

.fz-15 {
  font-size: 15px;
}