<div style="margin-top: 100px; margin-left: 15px;">
  <button type="button" class="btn btn-primary loc-button-top" data-toggle="modal" data-target="#exampleModalCenter">
    <mat-icon>add</mat-icon>
    <p style="margin-left: 5px;">Negócio</p>
  </button>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Adicione um Negócio
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-md-12">
              <label for="exampleInputEmail1">Título</label>
              <input [(ngModel)]="ticket.titulo" type="text" class="form-control" id="title"
                aria-describedby="emailHelp" placeholder="Título" />
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Empresa</label>
                <select *ngIf="orsgapi" [(ngModel)]="ticket.org" class="form-control" id="exampleFormControlSelect1">
                  <option  *ngFor="let orgs of orsgapi" value="{{orgs.id}}">{{orgs.razaosocial}}</option>

                </select>
              </div>

              <div class="form-group">
                <label for="exampleFormControlSelect2">Produto</label>
                <select [(ngModel)]="ticket.produto" multiple class="form-control" id="exampleFormControlSelect2">
                  <option *ngFor="let prod of produtosapi" value="{{prod.id}}">{{prod.nome}}</option>
                </select>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Valor Estimado</label>
                <input [(ngModel)]="ticket.valorestimado" type="text" class="form-control" id="value"
                  aria-describedby="emailHelp" placeholder="Valor" mask="separator,2" thousandSeparator="." maxlength="9"/>
              </div>

              <div class="form-group">
                <label for="thermometro">Termômetro</label>
                <input [(ngModel)]="ticket.termometro" type="range" class="form-control-range" id="thermometro" value="1"
                  step="49" />
                <div style="display: flex;">
                  <span>Ruim</span>
                  <span>Médio</span>
                  <span>Ótimo</span>
                </div>
              </div>
              
            </div>
            <div class="form-group col-md-6">
              <label for="exampleFormControlSelect1">Contato</label>
              <select *ngIf="clientesapi" [(ngModel)]="ticket.cliente" class="form-control" id="exampleFormControlSelect1">
                <option  *ngFor="let cliente of clientesapi" value="{{cliente.id}}">{{cliente.nome}}</option>
              </select>
            </div>

            <div class="form-group col-md-6">
              <label for="exampleFormControlSelect1">Estágio Inicio</label>
              <select [(ngModel)]="ticket.estagio" class="form-control" id="exampleFormControlSelect1">
                <option *ngFor="let est of estagiosapi" value="{{est.id}}">{{est.nome}}</option>
              </select>
            </div>
           
            <div class="form-group col-md-12">
              <label for="exampleFormControlTextarea1">Observação</label>
              <textarea [(ngModel)]="ticket.obs" class="form-control" id="observation" rows="3"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Sair
          </button>
          <button (click)="save()" class="btn btn-primary" data-dismiss="modal">Salvar</button>
        </div>
      </div>
    </div>
  </div>

  <hr style="width: 100%;" />
  <div class="row flex-nowrap mt-4">
    <div class="col-md-2 align-items-center" *ngFor="let i of estagiosapi">
      <div class="mb-4 tickets" style="display: flex;">
        <div>
          <p>{{ i.nome }}</p>
          <p>{{ i.tickets.length }} Neg.</p>
        </div>

        <img src="../../assets/arrow.png" id="arrow" />
      </div>

      <div class="leads" (click)="goTo(j.id)" *ngFor="let j of i.tickets">
        <div style="display: flex;">
          <p class="fz-15 bold limit-words">{{ j.titulo }}</p>
          <mat-icon *ngIf="(j.termometro=='1');" class="thermometro thermfrio">ac_unit</mat-icon>
          <mat-icon *ngIf="(j.termometro=='50');" class="thermometro thermmorno">waves</mat-icon>
          <mat-icon *ngIf="(j.termometro=='99');" class="thermometro thermquente">whatshot</mat-icon>
          <!-- <div class="thermometro"></div> -->
        </div>
        <p class="mb-2 limit-words fz-13">{{ j.org }}</p>
        <div style="display: flex;">
          <p class="fz-13">R$ {{ j.valorestimado |  mask: '00.000,00' }}</p>
          <!-- <img src="../../assets/vermelho.png" id="red" /> -->
          <img src="../../assets/verde.png" id="green" />
          <!-- <img src="../../assets/laranja.png" id="orange" /> -->
        </div>
      </div>
    </div>
  </div>
</div>
