<div style="margin-top: 15px; margin-left: 15px;" (click)="stop()">

  <div class="flex">
    <button type="button" class="btn btn-primary loc-button-top"
      data-toggle="modal" data-target="#exampleModalCenter">
      <mat-icon>add</mat-icon>
      <p style="margin-left: 5px;">Lead</p>
    </button>

    <div style="margin-left: auto; margin-right: 20px;">
      <button class="btn btn-link"  (click)="showOpen()"   >Leads Abertas </button>
      <button class="btn btn-link"  (click)="showWin()"    >Ganhas        </button>
      <button class="btn btn-link"  (click)="showLose()"   >Perdidas      </button>
      <!-- <button class="btn btn-link"  (click)="showExclude()">Excluídas     </button> -->
    </div>
  </div>

  <div  class="modal fade" 
        id="exampleModalCenter" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Adicione uma Lead
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-md-12">
              <label for="exampleInputEmail1">Título</label>
              <input  [(ngModel)]="ticket.titulo" 
                      type="text" class="form-control" 
                      id="title"
                      aria-describedby="emailHelp" 
                      placeholder="Título" 
                      required />
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Empresa</label>
                <button mat-icon-button (click)="redirectToAdd('/company')">
                  <mat-icon class="icon-modal-lead">add</mat-icon>
                </button>
                <select *ngIf="orsgapi" 
                        [(ngModel)]="ticket.org" 
                        class="form-control" 
                        id="exampleFormControlSelect1">
                  <option *ngFor="let orgs of orsgapi" value="{{orgs.id}}">
                    {{orgs.razaosocial}}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="exampleFormControlSelect2">Produto</label>
                <button mat-icon-button (click)="redirectToAdd('/products')">
                  <mat-icon class="icon-modal-lead">add</mat-icon>
                </button>
                <select [(ngModel)]="ticket.produto" 
                        multiple class="form-control" 
                        id="exampleFormControlSelect2">
                  <option *ngFor="let prod of produtosapi" value="{{prod.id}}">
                    {{prod.nome}}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Valor Estimado</label>
                <input [(ngModel)]="ticket.valorestimado" type="text" class="form-control" id="value"
                  aria-describedby="emailHelp" placeholder="Valor" currencyMask
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
              </div>

              <div class="form-group">
                <label for="thermometro">Termômetro</label>
                <input  [(ngModel)]="ticket.termometro" 
                        type="range" 
                        class="form-control-range" 
                        id="thermometro"
                  value="1" step="49"/>
                <div style="display: flex;">
                  <span>Ruim</span>
                  <span>Médio</span>
                  <span>Ótimo</span>
                </div>
              </div>

            </div>
            <div class="form-group col-md-6">
              <label for="exampleFormControlSelect1">Contato</label>
              <button mat-icon-button (click)="redirectToAdd('/person')">
                <mat-icon class="icon-modal-lead">add</mat-icon>
              </button>
              <select *ngIf="clientesapi" [(ngModel)]="ticket.cliente" class="form-control"
                id="exampleFormControlSelect1">
                <option *ngFor="let cliente of clientesapi" value="{{cliente.id}}">
                  {{cliente.nome}}
                </option>
              </select>
            </div>

            <div class="form-group col-md-6">
              <label for="exampleFormControlSelect1">Estágio Inicio</label>
              <select [(ngModel)]="ticket.estagio" 
                      class="form-control" 
                      id="exampleFormControlSelect1" 
                      required>
                <option *ngFor="let est of estagiosapi" value="{{est.id}}">
                  {{est.nome}}
                </option>
              </select>
            </div>

            <div class="form-group col-md-12">
              <label for="exampleFormControlTextarea1">Observação</label>
              <textarea [(ngModel)]="ticket.obs" 
                        class="form-control" 
                        id="observation" 
                        rows="3">
              </textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Sair
          </button>
          <button (click)="save()" class="btn btn-primary" data-dismiss="modal">Salvar</button>
        </div>
      </div>
    </div>
  </div>

  <hr style="width: 100%;" />

  <div cdkDropListGroup class="nowrap" style="width: 100%;">
    <div class="example-container">
      <div class="tickets test">
        <div class="col-md-8">
          <p>Prospecção</p>
          <p>{{tickets1.valor | currency:'BRL':'symbol':'0.0':'pt'}} • {{tickets1.tickets.length}} Neg.  </p>
        </div>
        <img src="../../assets/arrow.png" />
      </div>

      <div  cdkDropList 
            [cdkDropListData]="tickets1.tickets" 
            class="example-list" 
            (cdkDropListDropped)="drop($event)">
        <div  class="leads" 
              *ngFor="let item of tickets1.tickets" 
              id="{{item.id}}" 
              cdkDrag 
              (dblclick)="goTo(item.id)">
          <div class="flex">
            <p class="limit-words">{{item.titulo}}</p>
            <div *ngIf="(item.termometro=='1');" class="termometro ruim"></div>
            <div *ngIf="(item.termometro=='50');" class="termometro medio"></div>
            <div *ngIf="(item.termometro=='99');" class="termometro otimo"></div>
          </div>
          <p class="limit-words">{{item.org.razaosocial}}</p>
          <div class="flex">
            <p class="limit-value">{{item.valorestimado | currency:'BRL':'symbol':'0.0':'pt'}}</p>
            <!-- <mat-icon id="green">check_circle_outline</mat-icon> -->
            <mat-icon id="orange">error_outline</mat-icon>
            <!-- <mat-icon id="red">highlight_off</mat-icon> -->
          </div>
        </div>
      </div>
    </div>

    <div class="example-container">
      <div class="tickets test">
        <div class="col-md-8">
          <p>Contatado</p>
          <p>{{tickets3.valor | currency:'BRL':'symbol':'0.0':'pt'}} • {{tickets3.tickets.length}} Neg. </p>
        </div>
        <img src="../../assets/arrow.png" />
      </div>

      <div  cdkDropList 
            [cdkDropListData]="tickets3.tickets" 
            class="example-list" 
            (cdkDropListDropped)="drop($event)">
        <div  class="leads" 
              *ngFor="let item of tickets3.tickets" 
              id="{{item.id}}" 
              cdkDrag 
              (dblclick)="goTo(item.id)">
          <div class="flex">
            <p class="limit-words">{{item.titulo}}</p>
            <div *ngIf="(item.termometro=='1');" class="termometro ruim"></div>
            <div *ngIf="(item.termometro=='50');" class="termometro medio"></div>
            <div *ngIf="(item.termometro=='99');" class="termometro otimo"></div>
          </div>
          <p class="limit-words">{{item.org.razaosocial}}</p>
          <div class="flex">
            <p class="limit-value">{{item.valorestimado | currency:'BRL':'symbol':'0.0':'pt'}}</p>
            <!-- <mat-icon id="green">check_circle_outline</mat-icon> -->
            <!-- <mat-icon id="orange">error_outline</mat-icon> -->
            <mat-icon id="red">highlight_off</mat-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="example-container">
      <div class="tickets test">
        <div class="col-md-8">
          <p>Cliente Potencial</p>
          <p>{{tickets4.valor | currency:'BRL':'symbol':'0.0':'pt'}} • {{tickets4.tickets.length}} Neg. </p>
        </div>
        <img src="../../assets/arrow.png" />
      </div>

      <div  cdkDropList 
            [cdkDropListData]="tickets4.tickets" 
            class="example-list" 
            (cdkDropListDropped)="drop($event)">
        <div  class="leads" 
              *ngFor="let item of tickets4.tickets" 
              id="{{item.id}}" 
              cdkDrag (dblclick)="goTo(item.id)">
          <div class="flex">
            <p class="limit-words">{{item.titulo}}</p>
            <div *ngIf="(item.termometro=='1');" class="termometro ruim"></div>
            <div *ngIf="(item.termometro=='50');" class="termometro medio"></div>
            <div *ngIf="(item.termometro=='99');" class="termometro otimo"></div>
          </div>
          <p class="limit-words">{{item.org.razaosocial}}</p>
          <div class="flex">
            <p class="limit-value">{{item.valorestimado | currency:'BRL':'symbol':'0.0':'pt'}}</p>
            <!-- <mat-icon id="green">check_circle_outline</mat-icon> -->
            <mat-icon id="orange">error_outline</mat-icon>
            <!-- <mat-icon id="red">highlight_off</mat-icon> -->
          </div>
        </div>
      </div>
    </div>

    <div class="example-container">
      <div class="tickets test">
        <div class="col-md-8">
          <p>Demo Agendada</p>
          <p>{{tickets5.valor | currency:'BRL':'symbol':'0.0':'pt'}} • {{tickets5.tickets.length}} Neg. </p>
        </div>
        <img src="../../assets/arrow.png" />
      </div>

      <div  cdkDropList 
            [cdkDropListData]="tickets5.tickets" 
            class="example-list" 
            (cdkDropListDropped)="drop($event)">
        <div  class="leads" 
              *ngFor="let item of tickets5.tickets" 
              id="{{item.id}}" 
              cdkDrag (dblclick)="goTo(item.id)">
          <div class="flex">
            <p class="limit-words">{{item.titulo}}</p>
            <div *ngIf="(item.termometro=='1');" class="termometro ruim"></div>
            <div *ngIf="(item.termometro=='50');" class="termometro medio"></div>
            <div *ngIf="(item.termometro=='99');" class="termometro otimo"></div>
          </div>
          <p class="limit-words">{{item.org.razaosocial}}</p>
          <div class="flex">
            <p class="limit-value">{{item.valorestimado | currency:'BRL':'symbol':'0.0':'pt'}}</p>
            <mat-icon id="green">check_circle_outline</mat-icon>
            <!-- <mat-icon id="orange">error_outline</mat-icon> -->
            <!-- <mat-icon id="red">highlight_off</mat-icon> -->
          </div>
        </div>
      </div>
    </div>

    <div class="example-container">
      <div class="tickets test">
        <div class="col-md-8">
          <p>Proposta</p>
          <p>{{tickets6.valor | currency:'BRL':'symbol':'0.0':'pt'}} • {{tickets6.tickets.length}} Neg. </p>
        </div>
        <img src="../../assets/arrow.png" />
      </div>

      <div  cdkDropList 
            [cdkDropListData]="tickets6.tickets" 
            class="example-list" 
            (cdkDropListDropped)="drop($event)">
        <div  class="leads" 
              *ngFor="let item of tickets6.tickets" 
              id="{{item.id}}" 
              cdkDrag 
              (dblclick)="goTo(item.id)">
          <div class="flex">
            <p class="limit-words">{{item.titulo}}</p>
            <div *ngIf="(item.termometro=='1');" class="termometro ruim"></div>
            <div *ngIf="(item.termometro=='50');" class="termometro medio"></div>
            <div *ngIf="(item.termometro=='99');" class="termometro otimo"></div>
          </div>
          <p class="limit-words">{{item.org.razaosocial}}</p>
          <div class="flex">
            <p class="limit-value">{{item.valorestimado | currency:'BRL':'symbol':'0.0':'pt'}}</p>
            <mat-icon id="green">check_circle_outline</mat-icon>
            <!-- <mat-icon id="orange">error_outline</mat-icon> -->
            <!-- <mat-icon id="red">highlight_off</mat-icon> -->
          </div>
        </div>
      </div>
    </div>

    <div class="example-container">
      <div class="tickets test">
        <div class="col-md-8">
          <p>Negociações Inic.</p>
          <p>{{tickets7.valor | currency:'BRL':'symbol':'0.0':'pt'}} • {{tickets7.tickets.length}} Neg. </p>
        </div>
        <img src="../../assets/arrow.png" />
      </div>

      <div  cdkDropList 
            [cdkDropListData]="tickets7.tickets" 
            class="example-list" 
            (cdkDropListDropped)="drop($event)">
        <div  class="leads" 
              *ngFor="let item of tickets7.tickets" 
              id="{{item.id}}" 
              cdkDrag 
              (dblclick)="goTo(item.id)">
          <div class="flex">
            <p class="limit-words">{{item.titulo}}</p>
            <div *ngIf="(item.termometro=='1');" class="termometro ruim"></div>
            <div *ngIf="(item.termometro=='50');" class="termometro medio"></div>
            <div *ngIf="(item.termometro=='99');" class="termometro otimo"></div>
          </div>
          <p class="limit-words">{{item.org.razaosocial}}</p>
          <div class="flex">
            <p class="limit-value">{{item.valorestimado | currency:'BRL':'symbol':'0.0':'pt'}}</p>
            <!-- <mat-icon id="green">check_circle_outline</mat-icon> -->
            <!-- <mat-icon id="orange">error_outline</mat-icon> -->
            <mat-icon id="red">highlight_off</mat-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="example-container">
      <div class="tickets test">
        <div class="col-md-8">
          <p>Clientes</p>
          <p>{{tickets8.valor | currency:'BRL':'symbol':'0.0':'pt'}} • {{tickets8.tickets.length}} Neg. </p>
        </div>
      </div>

      <div  cdkDropList 
            [cdkDropListData]="tickets8.tickets" 
            class="example-list" 
            (cdkDropListDropped)="drop($event)">
        <div  class="leads" 
              *ngFor="let item of tickets8.tickets" 
              id="{{item.id}}" 
              cdkDrag 
              (dblclick)="goTo(item.id)">
          <div class="flex">
            <p class="limit-words">{{item.titulo}}</p>
            <div *ngIf="(item.termometro=='1');" class="termometro ruim"></div>
            <div *ngIf="(item.termometro=='50');" class="termometro medio"></div>
            <div *ngIf="(item.termometro=='99');" class="termometro otimo"></div>
          </div>
          <p class="limit-words">{{item.org.razaosocial}}</p>
          <div class="flex">
            <p class="limit-value">{{ item.valorestimado | currency:'BRL':'symbol':'0.0':'pt'}}</p>
            <!-- <mat-icon id="green">check_circle_outline</mat-icon> -->
            <mat-icon id="orange">error_outline</mat-icon>
            <!-- <mat-icon id="red">highlight_off</mat-icon> -->
          </div>
        </div>

      </div>

    </div>

    <lottie-animation-view [options]="lottieConfig" [width]="250" [height]="250"
      (animCreated)="handleAnimation($event)">
    </lottie-animation-view>
  </div>