<div style="margin-top: 15px;">
  <div style="display: flex;">
    <button type="button" class="btn btn-primary loc-button-top" id="codigo" (click)="updatefalse()"  data-toggle="modal" data-target="#add">
      <mat-icon>add</mat-icon>
      <p style="margin-left: 5px;">Ramo</p>
    </button>
    <div class="div-filter">
      <input class="form-control" type="text" (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
    </div>
  </div>

  <div class="modal fade bd-example-modal-lg" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="add">Adicionar Ramo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="col-md-12">
            <div class="form-group col-md-12">
              <label for="nome">Nome</label>
              <input [(ngModel)]="ramo.desc" type="text" class="form-control" (keyup)="maiuscula($event.target.value)">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
          <button type="button" *ngIf="!conf.update" (click)="saveRamo()" data-dismiss="modal"  class="btn btn-primary">Salvar</button>
          <button type="button" *ngIf="conf.update" (click)="UpdateRamo()" class="btn btn-primary" data-dismiss="modal">
            Atualizar Ramo
          </button>
        </div>
      </div>
    </div>
  </div>

  <mat-divider style="margin-left: 15px; margin-right: 15px;"></mat-divider>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Nome
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.desc }}
      </td>
    </ng-container>

    <ng-container matColumnDef="columnEdit">
      <th mat-header-cell *matHeaderCellDef>
        Editar
      </th>
      <td mat-cell *matCellDef="let element" data-toggle="modal" data-target="#add" class="columnIcon">
        <button class="none-border-icons-action" (click)="editRamo(element)">
          <mat-icon class="icons-action icon-color-grey">
            create
          </mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="columnDelete">
      <th mat-header-cell *matHeaderCellDef>
        Excluir
      </th>
      <td mat-cell *matCellDef="let element" class="columnIcon">
        <button class="none-border-icons-action" data-toggle="modal" data-target="#modalDelete" (click)="deleteItem(element)">
          <mat-icon class="icons-action icon-color-red">
            delete
          </mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDelete" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Tem certeza que deseja excluir o Ramo ?
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Não
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="del()" disabled id="delete">
          Sim
        </button>
      </div>
    </div>
  </div>
</div>
