/* #navbarDropdown {
    font-size: 1.25rem;
    margin-left: -15px;
}

a:hover {
    color: #0056b3 !important;
}

div.col-1 div {
    cursor: pointer;
}

.navbar-light .navbar-brand, a, a:not([href]):not([tabindex]) {
    color: #9C9C9C;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 80px;
}

.navbar-brand {
    margin-right: 3rem;
}

img {
    height: 40px;
}

.dropdown-menu {
    min-width: 0;
} */

img {
    height: 40px;
}

a {
    font-size: 23px;
}

.dropdown-item {
    font-size: 20px;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.show {
    margin-left: -15px;
}

.navbar {
    padding: 0.8rem 1rem;
}