#navbarDropdown {
    font-size: 18px;
    margin-left: -15px;
}

a:hover {
    color: #0056b3 !important;
}

div.col-1 div {
    cursor: pointer;
}

.navbar-light .navbar-brand, a, a:not([href]):not([tabindex]) {
    color: #9C9C9C;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar-brand {
    margin-right: 3rem;
}