<div style="margin-top: 100px;" class="row">






    <div class="row col-12">
        <div class="col-5">
            <h3> Negócio Vedois </h3>
            <div style="display: flex;">
                <h4> RS 0 </h4>
                <p> Adicionar produtos </p>
            </div>
        </div>
        <div class="col-7">
            <h3> Arthur Felipe Gramm</h3>
        </div>
        
    </div>






    <div class="row col-12">
        <div class="col-3">
            <h1> TESTE </h1>
        </div>
        <div class="col-9">
            <h1> TESTE </h1>
        </div>
    </div>
</div>