<div class="main-div">
  <div class="col-12 div-top row"
    style="height: 300px; border-radius: 10px; border-style: solid; border-color: rgb(226, 226, 226); border-width: 1px;">
    <div class="col-9">
      <div class="col-10 row">
        <h2 class="font-26 bold"> {{business.titulo}} </h2>
        <mat-icon style=" margin-left: 5px;">create</mat-icon>
      </div>
      <div class="flex" style="padding: 0;">
        <img src="../../assets/moeda.png" style="width: 2%; height: 2%;" />
        <p class="bold"> R$ {{business.valorestimado}}</p>
        <img src="../../assets/contato.png" style="width: 2%; height: 2%;" />
        <p> {{business.cliente.nome}} </p>
        <img src="../../assets/empresa.png" style="width: 2%; height: 2%;" />
        <p> {{business.org.razaosocial}} </p>
        <img src="../../assets/termometro.png" style="width: 2%; height: 2%;" />
        <p>Termômetro:</p>
        <div style="margin-top: 5px;">
          <input type="range" id="thermometro" value="{{business.termometro}}" step="49" style="width: 150px;" />
          <div class=" row">
            <p class="ptherm">Ruim</p>
            <p class="ptherm2">Médio</p>
            <p class="ptherm">Ótimo</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 row">
      <button class="btn-win-lose btn-success">Ganho</button>
      <button class="btn-win-lose btn-danger">Perdido</button>
    </div>
    <div class="col-1">
      <div style="float: right; text-align: right; margin-top: 10px;">
        <p style="font-size: 15px;"> Vendedor </p>
        <p style="font-size: 20px;"> {{business.vendedor}} </p>
        <p style="font-size: 12px;"> Criado em 31/01/2020 </p>
      </div>
    </div>

    <!-- BARRA DE PROGRESSO -->
    <div class="col-12 flex md-stepper-horizontal green orange">
      <!-- <div class="md-step active">
        <div class="md-step-circle "> <mat-icon> done </mat-icon> </div>
        <div class="md-step-title">Negócio Registrado</div>
        <div class="md-step-optional">10/02/2020</div>
        <div class="md-step-bar-right"></div>
      </div> -->
      <div class="md-step active" *ngIf="(business.estagio.id != 1 && business.estagio.id > 1)" id="1">
        <div class="md-step-circle "> <mat-icon> done </mat-icon> </div>
        <div class="md-step-title">Prospecção</div>
        <div class="md-step-optional">10/02/2020</div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step process" *ngIf="(business.estagio.id == 1)" id="1">
        <div class="md-step-circle "> <mat-icon> priority_high </mat-icon> </div>
        <div class="md-step-title">Prospecção</div>
        <div class="md-step-optional">Em processo</div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step " *ngIf="(business.estagio.id != 1 && business.estagio.id < 1)" id="1">
        <div class="md-step-circle "> <mat-icon>  </mat-icon> </div>
        <div class="md-step-title">Prospecção</div>

        <div class="md-step-bar-right"></div>
      </div>


      <div class="md-step active "  *ngIf="(business.estagio.id != 3 && business.estagio.id > 3)" id="3">
        <div class="md-step-circle "> <mat-icon> done </mat-icon></div>
        <div class="md-step-title">Contatado</div>
        <div class="md-step-optional">10/02/2020</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step process "  *ngIf="(business.estagio.id == 3)" id="3">
        <div class="md-step-circle "> <mat-icon> priority_high </mat-icon></div>
        <div class="md-step-title">Contatado</div>
        <div class="md-step-optional">Em processo</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step  "  *ngIf="(business.estagio.id != 3 && business.estagio.id < 3)" id="3">
        <div class="md-step-circle "> <mat-icon>  </mat-icon></div>
        <div class="md-step-title">Contatado</div>

        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>


      <div class="md-step process" *ngIf="(business.estagio.id==4)"  id="4">
        <div class="md-step-circle "><mat-icon> priority_high </mat-icon></div>
        <div class="md-step-title">Cliente Potencial</div>
        <div class="md-step-optional">Em processo</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step" *ngIf="(business.estagio.id!=4 && business.estagio.id < 4)"  id="4">
        <div class="md-step-circle "><mat-icon>  </mat-icon></div>
        <div class="md-step-title">Cliente Potencial</div>

        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step active" *ngIf="(business.estagio.id!=4 && business.estagio.id > 4)"  id="4">
        <div class="md-step-circle "><mat-icon> done </mat-icon></div>
        <div class="md-step-title">Cliente Potencial</div>
        <div class="md-step-optional">10/02/2020</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>


      <div class="md-step active"  *ngIf="(business.estagio.id != 5 && business.estagio.id > 5)" id="5">
        <div class="md-step-circle"><mat-icon> done  </mat-icon></div>
        <div class="md-step-title">Demo Agendada</div>
        <div class="md-step-optional">10/02/2020</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step process"  *ngIf="(business.estagio.id == 5)" id="5">
        <div class="md-step-circle"><mat-icon> priority_high  </mat-icon></div>
        <div class="md-step-title">Demo Agendada</div>
        <div class="md-step-optional">Em processo</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step"  *ngIf="(business.estagio.id != 5 && business.estagio.id < 5)" id="5">
        <div class="md-step-circle"><mat-icon>  </mat-icon></div>
        <div class="md-step-title">Demo Agendada</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>

      <div class="md-step active"  *ngIf="(business.estagio.id != 6 && business.estagio.id > 6)" id="6">
        <div class="md-step-circle"><mat-icon> done </mat-icon></div>
        <div class="md-step-title">Proposta</div>
        <div class="md-step-optional">10/02/2020</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step process"  *ngIf="(business.estagio.id == 6)" id="6">
        <div class="md-step-circle"><mat-icon> priority_high  </mat-icon></div>
        <div class="md-step-title">Proposta</div>
        <div class="md-step-optional">Em processo</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step"  *ngIf="(business.estagio.id != 6 && business.estagio.id < 6)" id="6">
        <div class="md-step-circle"><mat-icon>  </mat-icon></div>
        <div class="md-step-title">Proposta</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>

      <div class="md-step active"  *ngIf="(business.estagio.id != 7 && business.estagio.id > 7)" id="7">
        <div class="md-step-circle"><mat-icon>  done </mat-icon></div>
        <div class="md-step-title">Negociações Iniciais</div>
        <div class="md-step-optional">10/02/2020</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step process"  *ngIf="(business.estagio.id == 7)" id="7">
        <div class="md-step-circle"><mat-icon> priority_high  </mat-icon></div>
        <div class="md-step-title">Negociações Iniciais</div>
        <div class="md-step-optional">Em processo</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step"  *ngIf="(business.estagio.id != 7 && business.estagio.id < 7)" id="7">
        <div class="md-step-circle"><mat-icon>  </mat-icon></div>
        <div class="md-step-title">Negociações Iniciais</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>

        <div class="md-step active"  *ngIf="(business.estagio.id != 8 && business.estagio.id > 8)" id="8">
          <div class="md-step-circle"><mat-icon> done  </mat-icon></div>
          <div class="md-step-title">Cliente</div>
          <div class="md-step-optional">10/02/2020</div>
          <div class="md-step-bar-left"></div>
        </div>
        <div class="md-step process"  *ngIf="(business.estagio.id == 8 )" id="8">
          <div class="md-step-circle"><mat-icon> priority_high  </mat-icon></div>
          <div class="md-step-title">Cliente</div>
          <div class="md-step-optional">Em processo</div>
          <div class="md-step-bar-left"></div>
        </div>
        <div class="md-step"  *ngIf="(business.estagio.id != 8 && business.estagio.id < 8)" id="8">
          <div class="md-step-circle"><mat-icon>  </mat-icon></div>
          <div class="md-step-title">Cliente</div>
          <div class="md-step-bar-left"></div>
        </div>

    </div>
    </div>


  <div class="col-4 div-left"
    style="border-radius: 10px; border-style: solid; border-color: rgb(226, 226, 226); border-width: 1px;">
    <div class=" col-12 row ">
      <img src="../../assets/empresa.png" style="width: 20px; height: 20px; margin-right: 10px; margin-left: 15px;" />
      <h2 class="font-26 bold" style="margin-top: 5px;">Empresa</h2>
      <mat-icon style="margin-left: auto; margin-top: 10px;">create</mat-icon>
    </div>

    <div class=" col-10 ">
      <h4 style="margin-top: 10px; font-size: 20px; font-weight: bold; margin-left: 15px;"> {{business.org.razaosocial}}
      </h4>
      <div style="margin-top: 10px;">
        <p style="font-size: 15px; margin-left: 15px;"> <b>Endereço:</b> {{business.org.rua}} - {{business.org.rua}}-
          {{business.org.bairro}} - {{business.org.cidade}}/{{business.org.uf}}</p>
      </div>
      <div style="margin-top: 10px;">
        <p style="font-size: 15px; margin-left: 15px;"> <b>ERP:</b> {{business.org.erp}} </p>
      </div>
    </div>
  </div>

  <div class="col-8 div-right"
    style="border-radius: 10px; border-style: solid; border-color: rgb(226, 226, 226); border-width: 1px;">
    <div class="col-12 row" style="margin-left: 0px;">
      <button type="button"
        style="border: none; padding: 0px; border: 2px solid white; border-radius: 7px; height: 30px; margin-top: 8px; "
        class="col-4 btn1 btn-primary btn-block">Observações</button>
      <button type="button"
        style="border: none; padding: 0px; border: 2px solid white; border-radius: 7px; height: 30px;"
        class="col-4 btn1 btn-primary btn-block">Atividades</button>
      <button type="button"
        style="border: none; padding: 0px; border: 2px solid white; border-radius: 7px; height: 30px;"
        class="col-4 btn1 btn-primary btn-block">Anexos</button>
    </div>
    <div class="col-12" style="margin-top: 10px;">
      <textarea rows="5" class="col-12"
        style="border-radius: 7px; border: 1px solid rgb(207, 206, 206);">{{business.obs}}</textarea>
      <button type="button" class="btn btn-success bold btn-sm" style="float: right;">Salvar</button>
      <button type="button" class="btn btn-outline-secondary bold btn-sm"
        style="float: right; margin-right: 5px;">Cancelar</button>
    </div>
    <div class="col-12 row" style="margin-top: 10px;">
      <button type="submit" class="col-4 btn1 btn-primary btn-block"
        style="border: none; margin-left: 30%; height: 30px; padding: 0px; margin-top: 10px; border-radius: 10px;">
        Histórico </button>
    </div>
  </div>

  <div class="col-4 div-left "
    style="border-radius: 10px; border-style: solid; border-color: rgb(226, 226, 226); border-width: 1px;">
    <div class="col-12 row">
      <img src="../../assets/contato.png" style="width: 20px; height: 20px; margin-right: 10px; margin-left: 15px;" />
      <h2 class="font-26 bold" style="margin-top: 5px;">Contato</h2>
      <mat-icon style="margin-left: auto; margin-top: 10px;">create</mat-icon>
    </div>

    <div class=" col-10 ">
      <h4 style="margin-top: 10px; font-size: 20px; font-weight: bold; margin-left: 15px;"> {{business.cliente.nome}}
      </h4>
      <div style="margin-top: 10px;">
        <p style="font-size: 15px; margin-left: 15px;"> <b>Telefone:</b> {{business.cliente.fone}} </p>
      </div>
      <div style="margin-top: 10px;">
        <p style="font-size: 15px; margin-left: 15px;"> <b>Email:</b> {{business.cliente.email}} </p>
      </div>
      <div style="margin-top: 10px;">
        <p style="font-size: 15px; margin-left: 15px;"> <b>Skype:</b> {{business.cliente.skype}} </p>
      </div>
    </div>
  </div>
</div>
