/* ICON */
mat-icon {
    font-family: 'Material Icons' !important;
    margin-top: 3px;
}

.mat-list-icon {
	color: rgba(0, 0, 0, 0.54);
}

/* DIVS */
.main-div {
    margin-top: 40px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.div-top {
	padding-top: 10px;
	height: 300px; 
}

.div-left {
	margin-left: -15px;
	margin-top: 30px;
	float: left;
	padding: 10px;
}

.divtab {
	min-height: 220px;
}

.mg-l-10 {
	margin-left: 10px;
}

.b-b {
	color: rgb(60, 152, 192);
}

.b {
	font-weight: bold;
}

.div-right {
	padding: 10px;
	float: right;
	width: 820px;
	margin: 30px 10px 100px 0;
}

.div-border {
	border-radius: 10px;
    border: 1px solid rgb(226, 226, 226);
    background-color: #fff;
    margin-top: 30px;
    padding: 10px;

}

.div-choice {
	padding-left: 0; 
	 margin-left: -1px; 
	/*margin-right: 5px; */
}

.div-vendedor {
	float: right; 
	text-align: right; 
	margin-top: 10px;
	margin-right: 0px;
}

.flex {
    display: flex;
}

.txtcenter {
	text-align: center;
}

/* TXT */
* {
    font-family: "Maven Pro";
}

.txtarea {
	border-radius: 7px; 
	border: 1px solid rgb(207, 206, 206);
}

.pdiv {
	font-size: 15px;
	margin-left: 15px;
	margin-top: 5px;
}

.bold {
    font-weight: bold;
}

h4 {
	margin-top: 10px; 
	font-size: 20px; 
	font-weight: bold; 
	margin-left: 15px;
}

.fine {
    font-weight: 100;
}

.font-26 {
    font-size: 26px;
}

/* IMG */
img {
    margin-top: 10px;
}

.img1 {
	width: 25px; 
	height: 25px;
}

img + p {
    margin-top: 10px;
    padding: 0 15px 0 10px;
}

img + div.form-group {
    padding: 23px 15px 0 15px;
}

p + img {
    margin-left: 50px;
}

.img-empresa {
	width: 20px; 
	height: 20px; 
	margin-right: 10px; 
	margin-left: 15px;
}

/* THERM */
input[type=range] {
    -webkit-appearance: none;
}

::-webkit-slider-runnable-track {
    height: 3px;
    background-image: linear-gradient(to right, #e23a3a, #f8ff97, #78ac78);
}

::-webkit-slider-thumb {
    margin-top: -7px;
}

.ptherm {
    font-size: 10px;
    margin: 10px 10px 0px 15px;
}

.ptherm2 {
    font-size: 10px;
    margin: 10px 20px 0px 35px;
}

/* MARGINS */
.form-group {
    margin-bottom: 0 !important;
}

.mg-t-30 {
	margin-top: 30px;
}

.mg-t-10 {
	margin-top: 10px;
}

.margin5 {
	margin-top: 5px;
}

.mg-l-auto {
	margin-left: auto;
}

.mg-r-5 {
	margin-right: 5px;
}

.margin0 {
	margin-left: 0px;
}

.margin8 {
	margin-top: 8px;
}

.fltright {
	float: right; 
}

/* BTN */
.btn1 {
	background-color: rgb(98, 151, 189);
	color: #fff;
}

.btn-3 {
	border: none; 
	padding: 0px; 
	border: 2px solid white; 
	border-radius: 7px; 
	height: 30px;
}

.btn-win-lose {
	height: 40px;
    width: 75px;
    border-radius: 5px;
	border: 1px solid transparent;
	margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.btn-hist {
	border: none; 
	margin-left: 30%; 
	height: 30px; 
	padding: 0px;  
	border-radius: 10px;
}

@media (min-width: 1400px) and (max-width: 1920px) {
	.md-stepper-horizontal .md-step {
		padding:24px 50px !important;
	}
}

/* TESTE STEPPER */
.md-stepper-horizontal {
	display:table;
	cursor: pointer;
	width:100%;
	margin:0 auto;
	background-color:#FFFFFF;
}
.md-stepper-horizontal .md-step {
	display:inline-table;
	position: relative;
	padding:24px 30px;
}

.divstep {
  	display:inline-table;
	padding:24px 30px;
}

.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
	background-color:rgba(0,0,0,0.04);
}
.md-stepper-horizontal .md-step:active {
	border-radius: 15% / 75%;
 }
.md-stepper-horizontal .md-step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
} 
.md-stepper-horizontal .md-step:hover .md-step-circle {
	background-color:#757575;
}
 .md-stepper-horizontal  .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal  .md-step:last-child .md-step-bar-right {
	display:none;
} 
.md-stepper-horizontal .md-step .md-step-circle {
	width:30px;
	height:30px;
	margin: 0px auto;
	background-color:#999999;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.md-step-1 {
	position: absolute;
	top: 37px;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
	background-color:rgb(120, 172, 120);
}
.md-stepper-horizontal.orange .md-step.process .md-step-circle {
	background-color:rgb(225, 139, 92);
}
.md-stepper-horizontal .md-step.done .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f00c";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
	display:none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f040";
}
.md-stepper-horizontal .md-step .md-step-title {
	margin-top:16px;
	font-size:16px;
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
	text-align: center;
	color:rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.md-stepper-horizontal  .md-step.active .md-step-bar-right,
.md-stepper-horizontal  .md-step.active .md-step-bar-left{
    border-top: 5px solid rgb(120, 172, 120);
}
.md-stepper-horizontal  .md-step.process .md-step-bar-right,
.md-stepper-horizontal  .md-step.process .md-step-bar-left{
    border-top: 5px solid rgb(225, 139, 92);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
	font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
	color:rgba(0,0,0,.54);
}
.md-stepper-horizontal  .md-step .md-step-bar-left,
.md-stepper-horizontal  .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	border-top:5px solid #DDDDDD;
}
.md-stepper-horizontal  .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.md-stepper-horizontal  .md-step .md-step-bar-left {
	left:0;
	right:50%;
    margin-right:20px;
}

lottie-animation-view {
	position: absolute;
    top: 125%;
    z-index: 1;
	left: 29%;
}

#null {
	display: none;
}

div.col-8.div-right div.col-10.bg-white.row div.row.col-12 h5 {
	color: #283747;
}

div.col-8.div-right div.col-10.bg-white.row div.row.col-12 h5 + p {
	font-size: 16px;
	color: rgb(98, 151, 189);
	font-weight: bold;
}

.click {
	cursor: pointer;
}

<<<<<<< HEAD
=======
div.row div.col-md-5 p + p {
	margin-top: 19.3px;
	text-align: right;
}

div.row div.col-md-7 div.form-group + div.form-group {
	margin-top: 5px;
}
<<<<<<< HEAD
>>>>>>> 179853863f3e38c695d13f9c541dd50e77d1b126
=======

div.row.mt-5 div.col-md-12 div.form-group {
	margin-top: 10px;
}


>>>>>>> 8be7357fb2dc98c317ced596b8a8c3ea15338951
/* MODAL ATV */

.div-modal-atv{
    width: 40x; 
    height: 40px; 
    background-color: #6297bd; 
    color: white; 
    border-radius: 50%;
    margin-left: 10px;
}

.icon-modal-atv{
    font-size: 20px; 
    margin-bottom: 5px;
    
}

.icon-dif {
    margin-right: 10px; 
    font-weight: bold; 
    width: 21px; 
    height: 21px; 
    font-size: 18px; 
    border-radius: 100px; 
    background-color: #c2c2c2; 
    color: #ffffff;
}

.atvinput {
    margin-top: 5px; 
    font-size: 12.5pt;
}

.inputmargin {
    margin-top: 20px; 
    padding: 0px;
}

.inputmargin2{
    margin-top: 20px; 
    padding: 0px 0px 0px 15px;
}

/* CALENDAR */

.viewcalendar{
    margin-left: auto; 
    color: #007bff; 
}

.div-calendar{
    padding: 0px;
    height: 590px; 
    overflow: auto; 
    font-size: 10px; 
    align-items: flex-end;
}

.div-calendar::-webkit-scrollbar {
    width: 10px;
}::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border: 0.5px solid #ced4da;
    border-radius: 5px;
}::-webkit-scrollbar-thumb {
    background: #6297bd; 
    border-radius: 5px;
}::-webkit-scrollbar-thumb:hover {
    background: #678294; 
}

.fullcalendar {
    width: 500px;
    height: 100px !important;
    margin: 1px auto;
}
