<div class="main-div">

  <div  class="modal fade" 
        id="loseModal" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="exampleModalLabel" 
        aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Marcar como Perdido
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="motivo">Motivo da Perda</label>
            <input type="text" class="form-control" id="motivo">
          </div>

          <div class="form-group" style="margin-top: 10px;">
            <label for="exampleFormControlTextarea1">Comentários (opcional) </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger">Marcar como Perdido</button>
        </div>
      </div>
    </div>
  </div>


  <div class="col-12 div-top row div-border">
    <div class="col-9">
      <div class="col-10 row">
        <h2 class="font-26 bold"> 
          {{business.titulo}} 
        </h2>
        <mat-icon style=" margin-left: 5px;">create</mat-icon>
      </div>
      <div class="flex" style="padding: 0;">
        <img src="../../assets/moeda.png" class="img1" />
        <p class="bold"> R$ {{business.valorestimado}}</p>
        <img src="../../assets/contato.png" class="img1" />
        <p> {{business.cliente.nome}} </p>
        <img src="../../assets/empresa.png" class="img1" />
        <p> {{business.org.razaosocial}} </p>
        <img src="../../assets/termometro.png" class="img1" />
        <p>Termômetro:</p>
        <div class="margin5">
          <input  type="range" 
                  id="thermometro" 
                  value="{{business.termometro}}" 
                  step="49" 
                  style="width: 150px;"/>
          <div class=" row">
            <p class="ptherm" > Ruim  </p>
            <p class="ptherm2"> Médio </p>
            <p class="ptherm" > Ótimo </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 row div-choice">
      <button class="btn-win-lose btn-success" 
              id="win" 
              (click)="stageWin()">
        Ganho
      </button>
      <button class="btn-win-lose" 
              id="null" 
              (click)="stageNull()">
        Reabrir
      </button>
      <button class="btn-win-lose btn-danger" 
              id="lose" 
              (click)="stageLose()" 
              data-toggle="modal" 
              data-target="#loseModal">
        Perdido
      </button>
    </div>
    <lottie-animation-view  [options]="lottieConfig" 
                            [width]="500" 
                            [height]="350"
                            (animCreated)="handleAnimation($event)">
    </lottie-animation-view>
    <div class="col-1">
      <div class="div-vendedor">
        <p style="font-size: 15px;"> Vendedor </p>
        <p style="font-size: 20px;"> {{business.vendedor}} </p>
        <!-- <p style="font-size: 12px;" mask="9999-99-99" *ngIf="(business.created)"> Criado em
          {{business.created.datetime}} </p> -->
      </div>
    </div>

    <!-- BARRA DE PROGRESSO -->
    <div class="col-12 flex md-stepper-horizontal green orange">      
      <div  class="md-step active" 
            *ngIf="(business.estagio.id != 1 && business.estagio.id > 1)" 
            id="1">
        <div class="md-step-circle ">
          <mat-icon> done </mat-icon>
        </div>
        <div class="md-step-title">   Prospecção</div>
        <div class="md-step-optional">10/02/2020</div>
        <div class="md-step-bar-right"></div>
      </div>
      <div  class="md-step process" 
            *ngIf="(business.estagio.id == 1)" 
            id="1">
        <div class="md-step-circle ">
          <mat-icon> priority_high </mat-icon>
        </div>
        <div class="md-step-title">   Prospecção  </div>
        <div class="md-step-optional">Em processo </div>
        <div class="md-step-bar-right"></div>
      </div>
      <div  class="md-step " 
            *ngIf="(business.estagio.id != 1 && business.estagio.id < 1)" 
            id="1">
        <div class="md-step-circle"></div>
        <div class="md-step-title">Prospecção</div>
        <div class="md-step-bar-right"></div>
      </div>


      <div  class="md-step active " 
            *ngIf="(business.estagio.id != 3 && business.estagio.id > 3)" 
            id="3">
        <div class="md-step-circle ">
          <mat-icon> done </mat-icon>
        </div>
        <div class="md-step-title">   Contatado </div>
        <div class="md-step-optional">10/02/2020</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div  class="md-step process" 
            *ngIf="(business.estagio.id == 3)" 
            id="3">
        <div class="md-step-circle">
          <mat-icon> priority_high </mat-icon>
        </div>
        <div class="md-step-title">   Contatado   </div>
        <div class="md-step-optional">Em processo </div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div  class="md-step" 
            *ngIf="(business.estagio.id != 3 && business.estagio.id < 3)" 
            id="3">
        <div class="md-step-circle"></div>
        <div class="md-step-title">Contatado</div>

        <div class="md-step-bar-left"> </div>
        <div class="md-step-bar-right"></div>
      </div>


      <div  class="md-step process" 
            *ngIf="(business.estagio.id==4)" 
            id="4">
        <div class="md-step-circle ">
          <mat-icon> priority_high </mat-icon>
        </div>
        <div class="md-step-title">   Cliente Potencial </div>
        <div class="md-step-optional">Em processo       </div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div  class="md-step" 
            *ngIf="(business.estagio.id!=4 && business.estagio.id < 4)" 
            id="4">
        <div class="md-step-circle ">
          <mat-icon> </mat-icon>
        </div>
        <div class="md-step-title">Cliente Potencial</div>

        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div  class="md-step active" 
            *ngIf="(business.estagio.id!=4 && business.estagio.id > 4)" 
            id="4">
        <div class="md-step-circle ">
          <mat-icon> done </mat-icon>
        </div>
        <div class="md-step-title">   Cliente Potencial </div>
        <div class="md-step-optional">10/02/2020        </div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>


      <div  class="md-step active" 
            *ngIf="(business.estagio.id != 5 && business.estagio.id > 5)" 
            id="5">
        <div class="md-step-circle">
          <mat-icon> done </mat-icon>
        </div>
        <div class="md-step-title">   Demo Agendada </div>
        <div class="md-step-optional">10/02/2020    </div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div  class="md-step process" 
            *ngIf="(business.estagio.id == 5)" 
            id="5">
        <div class="md-step-circle">
          <mat-icon> priority_high </mat-icon>
        </div>
        <div class="md-step-title">   Demo Agendada </div>
        <div class="md-step-optional">Em processo   </div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div  class="md-step" 
            *ngIf="(business.estagio.id != 5 && business.estagio.id < 5)" 
            id="5">
        <div class="md-step-circle">
          <mat-icon> </mat-icon>
        </div>
        <div class="md-step-title">Demo Agendada</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>

      <div  class="md-step active" 
            *ngIf="(business.estagio.id != 6 && business.estagio.id > 6)" 
            id="6">
        <div class="md-step-circle">
          <mat-icon> done </mat-icon>
        </div>
        <div class="md-step-title">   Proposta  </div>
        <div class="md-step-optional">10/02/2020</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div  class="md-step process" 
            *ngIf="(business.estagio.id == 6)" 
            id="6">
        <div class="md-step-circle">
          <mat-icon> priority_high </mat-icon>
        </div>
        <div class="md-step-title">   Proposta    </div>
        <div class="md-step-optional">Em processo </div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div  class="md-step" 
            *ngIf="(business.estagio.id != 6 && business.estagio.id < 6)" 
            id="6">
        <div class="md-step-circle">
          <mat-icon> </mat-icon>
        </div>
        <div class="md-step-title">Proposta</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>

      <div  class="md-step active" 
            *ngIf="(business.estagio.id != 7 && business.estagio.id > 7)" 
            id="7">
        <div class="md-step-circle">
          <mat-icon> done </mat-icon>
        </div>
        <div class="md-step-title">   Negociações Iniciais</div>
        <div class="md-step-optional">10/02/2020          </div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step process" *ngIf="(business.estagio.id == 7)" id="7">
        <div class="md-step-circle">
          <mat-icon> priority_high </mat-icon>
        </div>
        <div class="md-step-title">   Negociações Iniciais</div>
        <div class="md-step-optional">Em processo         </div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step" *ngIf="(business.estagio.id != 7 && business.estagio.id < 7)" id="7">
        <div class="md-step-circle">
          <mat-icon> </mat-icon>
        </div>
        <div class="md-step-title">Negociações Iniciais</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>

      <div class="md-step active" *ngIf="(business.estagio.id != 8 && business.estagio.id > 8)" id="8">
        <div class="md-step-circle">
          <mat-icon> done </mat-icon>
        </div>
        <div class="md-step-title">   Cliente   </div>
        <div class="md-step-optional">10/02/2020</div>
        <div class="md-step-bar-left"></div>
      </div>
      <div class="md-step process" *ngIf="(business.estagio.id == 8 )" id="8">
        <div class="md-step-circle">
          <mat-icon> priority_high </mat-icon>
        </div>
        <div class="md-step-title">   Cliente    </div>
        <div class="md-step-optional">Em processo</div>
        <div class="md-step-bar-left"></div>
      </div>
      <div class="md-step" *ngIf="(business.estagio.id != 8 && business.estagio.id < 8)" id="8">
        <div class="md-step-circle">
          <mat-icon> </mat-icon>
        </div>
        <div class="md-step-title">Cliente</div>
        <div class="md-step-bar-left"></div>
      </div>

    </div>
  </div>


  <div class="col-4 div-left div-border">
    <div class=" col-12 row ">
      <img class="img-empresa" src="../../assets/empresa.png"/>
      <h2 class="font-26 bold margin5">
        Empresa
      </h2>
      <mat-icon style="margin-left: auto; margin-top: 10px;">create</mat-icon>
    </div>

    <div class=" col-10 ">
      <h4 style="margin-top: 10px; font-size: 20px; font-weight: bold; margin-left: 15px;"> {{business.org.razaosocial}}
      </h4>
      <div style="margin-top: 10px;">
        <p  style="font-size: 15px; margin-left: 15px;"> <b>Endereço:</b> </p>
        <!-- {{org.rua}} - {{org.bairro}} - {{org.cidade}}/{{org.uf}} -->
      </div>
      <div style="margin-top: 10px;">
        <p style="font-size: 15px; margin-left: 15px;"> <b>ERP:</b> {{business.org.erp}} </p>
      </div>
    </div>
  </div>

  <div class="col-8 div-right div-border">
    <div class="col-12 row margin0">
      <button type="button" class="col-4 btn1 btn-primary btn-block btn-3 margin8">
        Observações
      </button>
      <button type="button" class="col-4 btn1 btn-primary btn-block btn-3">
        Atividades
      </button>
      <button type="button" class="col-4 btn1 btn-primary btn-block btn-3">
        Anexos
      </button>
    </div>
    <div class="col-12 margin10">
      <textarea rows="5" class="col-12 txtarea">
        {{business.obs}}
      </textarea>
      <button type="button" class="btn btn-success bold btn-sm fltright">
        Salvar
      </button>
      <button type="button" class="btn btn-outline-secondary bold btn-sm fltright margin52">
        Cancelar
      </button>
    </div>
    <div class="col-12 row margin10">
      <button type="submit" class="col-4 btn1 margin10 btn-hist">
        Histórico 
      </button>
    </div>
  </div>

  <div class="col-4 div-left div-border">
    <div class="col-12 row">
      <img src="../../assets/contato.png" style="width: 20px; height: 20px; margin-right: 10px; margin-left: 15px;" />
      <h2 class="font-26 bold margin5">Contato</h2>
      <mat-icon style="margin-left: auto; margin-top: 10px;">create</mat-icon>
    </div>

    <div class=" col-10 ">
      <h4 style="margin-top: 10px; font-size: 20px; font-weight: bold; margin-left: 15px;"> {{business.cliente.nome}}
      </h4>
      <div style="margin-top: 10px;">
        <p style="font-size: 15px; margin-left: 15px;"> <b>Telefone:</b> {{business.cliente.fone}} </p>
      </div>
      <div style="margin-top: 10px;">
        <p style="font-size: 15px; margin-left: 15px;"> <b>Email:</b> {{business.cliente.email}} </p>
      </div>
      <div style="margin-top: 10px;">
        <p style="font-size: 15px; margin-left: 15px;"> <b>Skype:</b> {{business.cliente.skype}} </p>
      </div>
    </div>
  </div>
</div>
