* {
    font-family: "Maven Pro";
}

.main-div {
    margin-top: 100px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.div-top {
    background-color: #fff;
    height: 185px;
    padding-top: 10px;
}

.div-left {
    background-color: #fff;
    margin-top: 30px;
    margin-left: -15px;
    padding: 10px;
}

.div-right {
    background-color: #fff;
    margin-top: 30px;
    margin-left: 15px;
    padding: 10px;
}

.flex {
    display: flex;
}

.bold {
    font-weight: bold;
}

.fine {
    font-weight: 100;
}

.font-26 {
    font-size: 26px;
}

img {
    width: 30px;
    margin-top: 10px;
}

img + p {
    margin-top: 10px;
    padding: 0 15px 0 10px;
}

img + div.form-group {
    padding: 23px 15px 0 15px;
}

p + img {
    margin-left: 50px;
}

input[type=range] {
    -webkit-appearance: none;
}
  
::-webkit-slider-runnable-track {
    height: 3px;
    background-image: linear-gradient(to right, #0083FF, #F3FF00, #FF0000);
}
  
::-webkit-slider-thumb {
    margin-top: -7px;
}

.form-group {
    margin-bottom: 0 !important;
}