/* HEADER */
header {
    background-color: #fff;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    align-content: center;
}

header div button#button-icon {
    color: #3498DB;
    border: 1px solid rgb(165, 163, 163);
}

button#button-icon mat-icon {
    margin-bottom: 2px;
}

header div#button {
    justify-content: center;
    display: flex;
}

div + mat-icon {
    margin-top: 8px;
    margin-left: 16px;
    color: #515A5A;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: auto;
}

img + div {
    margin-left: 8px;
}

#delete {
    color: #ff0f0f;
    outline: none;
}

.btn {
    height: 40px;
}

div.col-md-4.flex + div.col-md-3.flex {
    justify-content: center;
    align-items: center;

}

/* MAIN */
main {
    margin: 32px auto 0 auto;
    padding: 0;
}

main div.no-pd-l div.bg-white div.flex {
    padding-top: 10px;
}

div.no-pd-l div.bg-white div.flex h5{
    margin-top: 10px;
    margin-left: 16px;
}

.buttons-edit {
    margin: 8px 16px 0 auto;
    border: 1px solid rgb(165, 163, 163);
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 5px;
}

.no-pd-l {
    padding-left: 0;
} 

.no-pd-r {
    padding-right: 0;
} 

div.flex div.col-4 h5 {
    height: 50px;
    font-size: 16px;
    font-weight: 100;
    text-align: right;
    display: grid;
    align-items: center;
}

div.form-group.flex.col-12 {
    padding: 0;
}

.bg-white {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.org-align-button-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.org-align-button-name button {
    margin-right: 16px;
    outline: none;
    border: 1px solid;
    color: #3498DB;
    border: 1px solid rgb(165, 163, 163);
}

.org-align-button-name button mat-icon {
    margin-bottom: 5px;
    margin-left: 2px;
}

.org-align-button-name + div {
    margin-top: 16px;
}

.org-align-button-name + div p:first-of-type {
    font-weight: 100;
    font-size: 14px;
}

.org-align-button-name + div p:last-of-type {
    font-weight: bold;
    margin-left: 8px;
    color: #3498DB;
}

.leads {
    border: 1px solid #c7c7c7;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px auto 5px auto;
    cursor: pointer;
    padding: 10px;
    width: 170px;
    height: 85px;
}

.limit-words {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

#red, #green, #orange {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: auto;
}
  
#red {
    color: red;
}
  
#green {
    color: green;
}
  
#orange {
    color: orange;
}

.progress {
    height: 2px;
    background-color: green;
    margin-top: 4px;
}

/* COLUMN RIGHT */
/* COLUMN RIGHT */
.tabs {
    background-color: #fff;
}

.headers {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dcdddd;
}

li {
    display: flex;
    position: relative;
    height: 47px;
}

div.tabs ul.headers li a {
    position: relative;
    font-weight: 600;
    background: #fff;
    color: #747678;
    outline: 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: background-color .1s ease;
    background: #eff5fd;
    color: #317ae2;
}

@media (min-width: 800px) {
    a {
        padding: 8px 66.26px 7px;
    }
}

@media (min-width: 1445px) {

    a {
        padding: 8px 115.62px 7px;
    }
}

a mat-icon {
    margin-right: 4px;
}

div.fakeInput {
    align-items: center;
    padding-left: 16px;
    color: #b9babb;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

div.fakeInput div:nth-child(2) {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 16px;
}

input[type=file] {
    margin-right: 16px;
}

input[type=file] + button + button {
    margin-left: 16px;
}

input[type=file] + button {
    margin-left: 64px;
}

.align-button-icons-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.row.col-12 + div.row.col-12 {
    margin-top: 16px;
}

div.col-10.bg-white {
    padding: 10px 0 15px 25px;
}

.div-plan {
    width: 100px;
    height: 30px;
    margin: 32px auto 32px auto;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #747678;
    color: white;
    border-radius: 35px;
}

.icons-hist {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5F6A6A;
    border: 1px solid #e5e5e5;
    background-color: #fff;
}

mat-checkbox {
    margin-top: 6px;
    margin-right: 16px;
}

#day {
    color: green;
    font-size: 14px;
}

p#day + span {
    margin-left: 16px;
    margin-right: 16px;
}

/* MODAL */
input[type=range] {
    -webkit-appearance: none;
    margin-top: 40px;
}
  
::-webkit-slider-runnable-track {
    height: 3px;
    background-image: linear-gradient(to right, rgb(226, 58, 58), rgb(248, 255, 151), rgb(120, 172, 120));
}
  
::-webkit-slider-thumb {
    margin-top: -7px;
}

span {
    margin-top: 10px;
}
  
span:nth-child(1) {
    margin-left: -5px;
}
  
span:nth-child(2) {
    margin-left: 55px;
}
  
span:nth-child(3) {
    margin-left: 40px;
}