h1 {
    margin-left: 20px;
    font-size: 35px;
    color: rgb(10, 24, 64);
}

mat-checkbox {
    margin-top: 15px;
    margin-left: 5px;
}

h2, h3, h4, h5, h6 {
    margin: 8px 0;
}

.iconfiltro {
    margin: 5px 15.5px;
    color: rgb(10, 24, 64);
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 10%;
    position: absolute;
    right: 30px;
    top: 112px;
}

.btn1 {
    background-color: white;
    color: rgb(10, 24, 64);
    box-shadow: 2px black;
    margin-left: 30px;
    margin-bottom: 5px;
}

.filtro {
    position: absolute;
    /*left: 290px;*/
    top: 145px;
}

.mat-row:nth-child(even){
    background-color: #F4F4F4;
}

.mat-row:nth-child(odd){
    background-color: #FFFFFF;
}