/* TXT & INPUT */
h1 {
    margin-left: 20px;
    font-size: 35px;
    color: rgb(10, 24, 64);
}

h2, h3, h4, h5, h6 {
    margin: 8px 0;
}

.mat-form-field {
    font-size: 14px;
    width: 10%;
    position: absolute;
    right: 30px;
    top: 112px;
}

.filtro {
    position: absolute;
    top: 170px;
}
/* BUTTON */
.btn1 {
    background-color: white;
    color: rgb(10, 24, 64);
    box-shadow: 2px black;
    margin-left: 30px;
    margin-bottom: 5px;
}

.btn-add {
    color: #fff;
    background-color: rgb(12, 28, 71);
    border-color: rgb(2, 8, 26);
}

.btn-secondary {
    background-color: white;
    font-weight: bold;
    color: rgb(2, 8, 26);
    border-color: rgb(11, 26, 69);
}

.iconfiltro {
    margin: 5px 15.5px;
    color: rgb(10, 24, 64);
}
/* TABLE */
.mat-row:nth-child(1){
    background-color: rgb(252, 237, 233);
}

.mat-row:nth-child(9){
    background-color: rgb(252, 237, 233);
}

.mat-row:nth-child(3) {
    background-color:rgb(242, 251, 254);
}

.mat-row:nth-child(8) {
    background-color:rgb(242, 251, 254);
}

td {
    padding: 0px 50px 0px 0px !important;
}

th {
    flex-direction: column;
    justify-content: center;
}

table {
    width: 100%;
}
  
mat-checkbox {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 20px;
}

.filtro {
    position: absolute;
    /*left: 290px;*/
    top: 145px;
}

.mat-row:nth-child(even){
    background-color: #F4F4F4;
}

.mat-row:nth-child(odd){
    background-color: #FFFFFF;
}