<div style="padding-top: 100px">
    <button type="button" class="btn btn-primary loc-button-top" data-toggle="modal" data-target="#abrircadastroatv"><mat-icon>add</mat-icon><p style="margin-left: 5px;">Atividade</p></button>
</div>

<mat-divider></mat-divider>

<!-- MODAL -->
<div class="modal fade" id="abrircadastroatv" tabindex="-1" role="dialog" aria-labelledby="abrircadastroatv" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Adicionar Atividade</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="row">

                    <div class="form-group col-12">
                        <label for="exampleFormControlSelect1">Assunto</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>Ligar</option>
                          <option>Reunião</option>
                          <option>Almoço</option>
                          <option>Email</option>
                          <option>Tarefa</option>
                        </select>
                      </div>
                    
                    <div class="form-group col-md-6">
                        <label for="example-date-input">Data</label>
                          <input class="form-control" type="date" value="0000-00-00" id="example-date-input">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Hora</label>
                        <input type="text" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Hora">
                    </div>

                    <div class="form-group col-md-12">
                        <label for="exampleInputEmail1">Negócio</label>
                        <input type="text" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Negócio">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Pessoas</label>
                        <input type="text" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Pessoas">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Empresa</label>
                        <input type="text" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Empresa">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>

<div style="display: flex;">
    <button type="button" class="btn btn-outline-dark button-all">Tudo</button>
    <mat-divider [vertical]="true" class="divider-vertical"></mat-divider>
    <button mat-icon-button class="buttons-filter" (keyup)="applyFilter($event.target.value)" (click)="filtrolig()" (dblclick)="dblclic()" style="margin-left: 15px;"><mat-icon>phone</mat-icon>Ligar</button>
    <button mat-icon-button class="buttons-filter" (keyup)="applyFilter($event.target.value)" (click)="filtroreun()" (dblclick)="dblclic()"><mat-icon>people</mat-icon>Reunião</button>
    <button mat-icon-button class="buttons-filter" (keyup)="applyFilter($event.target.value)" (click)="filtrovisit()" (dblclick)="dblclic()"><mat-icon>business</mat-icon>Visita</button>
    <button mat-icon-button class="buttons-filter" (keyup)="applyFilter($event.target.value)" (click)="filtroemail()" (dblclick)="dblclic()"><mat-icon>email</mat-icon>Email</button>
    <div class="form-group col-3 filter">
        <input class="form-control" type="text" (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
    </div>
</div>

<table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        
        <th mat-header-cell *matHeaderCellDef> Feito? </th>

        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="removeSelectedRows()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="removeSelectedRows()"
                        data-toggle="modal"
                        data-target="#abrircadastroatv">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

    <!-- Assunto Column -->
    <ng-container matColumnDef="Assunto" >
        <th mat-header-cell 
            *matHeaderCellDef 
            mat-sort-header> Assunto 
        </th>
        <td mat-cell 
            *matCellDef="let element" 
            (click)="goTo()"> {{element.Assunto}} 
        </td>
    </ng-container>

    <!-- DataVenc Column -->
    <ng-container matColumnDef="DataVenc">
        <th mat-header-cell 
            *matHeaderCellDef 
            mat-sort-header> Data 
        </th>
        <td mat-cell 
            *matCellDef="let element" 
            (click)="goTo()"> {{element.DataVenc}} 
        </td>
    </ng-container>

    <!-- Cliente Column -->
    <ng-container matColumnDef="Cliente">
        <th mat-header-cell 
            *matHeaderCellDef 
            mat-sort-header> Cliente 
        </th>
        <td mat-cell 
            *matCellDef="let element" 
            (click)="goTo()"> {{element.Cliente}} 
        </td>
    </ng-container>

    <!-- NomeContato Column -->
    <ng-container matColumnDef="NomeContato" > 
        <th mat-header-cell 
            *matHeaderCellDef 
            mat-sort-header> Nome do Contato 
        </th>
        <td mat-cell 
            *matCellDef="let element" 
            (click)="goTo()"> {{element.NomeContato}} 
        </td>
    </ng-container> 

    <!-- Email Column -->
    <ng-container matColumnDef="Email">
        <th mat-header-cell 
            *matHeaderCellDef 
            mat-sort-header> Email 
        </th>
        <td mat-cell 
            *matCellDef="let element" 
            (click)="goTo()"> {{element.Email}} 
        </td>
    </ng-container>

    <!-- Telefone Column -->
    <ng-container matColumnDef="Telefone">
        <th mat-header-cell 
            *matHeaderCellDef 
            mat-sort-header> Telefone 
        </th>
        <td mat-cell 
            *matCellDef="let element" 
            (click)="goTo()"> {{element.Telefone}} 
        </td>
    </ng-container>

    <!-- UserResp Column -->
    <ng-container matColumnDef="UserResp">
        <th mat-header-cell 
            *matHeaderCellDef 
            mat-sort-header> Usuário Responsável 
        </th>
        <td mat-cell 
            *matCellDef="let element" 
            (click)="goTo()"> {{element.UserResp}} 
        </td>
    </ng-container>

    <tr mat-header-row 
        *matHeaderRowDef="displayedColumns">
    </tr>
    <tr mat-row 
        *matRowDef="let row; columns: displayedColumns;">
    </tr>
</table>
