h1 {
    margin: 20px 10px 5px 20px;
    font-size: 35px;
    color: rgb(10, 24, 64);
}

mat-checkbox {
    margin-top: 15px;
    margin-left: 5px;
}

h2, h3, h4, h5, h6 {
    margin: 8px 0;
}

.iconfiltro {
    margin: 5px 15.5px;
    color: rgb(10, 24, 64);
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 10%;
    position: absolute;
    right: 30px;
    top: 112px;
}

.btn1 {
    background-color: white;
    color: rgb(10, 24, 64);
    position: absolute;
    top: 120px;
    left: 230px;
    box-shadow: 2px black;
}

.filtro {
    position: absolute;
    /*left: 290px;*/
    top: 170px;
}

.mat-row:nth-child(n+1){
    background-color: #f0ecf5;
}

.mat-row:not(:nth-child(2n+1)){
    background-color:#ffffff;
}