 <div class="main-div">
    
    <div class="col-4 div-left">
        <div class="col-12 real-div">
            <div class="row">
                <div class="col-4">
                    <img src="../../assets/contato.png" style="width: 100px; height: 100px;">
                </div>
                <div class="col-8">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p"><b>Nome:</b>Brenda Aguiar</li>
                        <mat-divider></mat-divider>
                        <li class="list-group-item p"><b>Email:</b>brenda.vedois@hotmail.com</li>
                        <mat-divider></mat-divider>
                        <li class="list-group-item p"><b>Ultimo acesso:</b>7 horas atrás</li>
                        <mat-divider></mat-divider>
                        <li class="list-group-item p"><a href="">Editar perfil</a></li>
                        <mat-divider></mat-divider>
                        <li class="list-group-item p"><a href="">Painel</a></li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-8 div-right">
        <div class="col-12 real-div">
            <mat-tab-group mat-stretch-tabs>
                <mat-tab label="Atualizações">
                    <div class="col-12">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item p">
                                <img src="../../assets/contato.png" 
                                     style="width: 20px; height: 20px; 
                                            margin-right: 10px;">
                                <b>Adicionou um novo negócio: </b>
                                <a href=""> Negócio Teste</a>
                                <mat-icon style="float: right;"> work_outline </mat-icon>
                            </li>
                            <mat-divider></mat-divider>
                            <li class="list-group-item p">
                                <img src="../../assets/contato.png" 
                                     style="width: 20px; height: 20px; 
                                            margin-right: 10px;">
                                <b>Adicionou uma nova organização: </b>
                                <a href=""> Vedois Tecnologia</a>
                                <mat-icon style="float: right;"> business </mat-icon>
                            </li>
                            <mat-divider></mat-divider>
                            <li class="list-group-item p">
                                <img src="../../assets/contato.png" 
                                     style="width: 20px; height: 20px; 
                                            margin-right: 10px;">
                                <b>Adicionou um novo negócio: </b>
                                <a href=""> Negócio Vedois</a>
                                <mat-icon style="float: right;"> work_outline </mat-icon>
                            </li>
                            <mat-divider></mat-divider>
                            <li class="list-group-item p">
                                <img src="../../assets/contato.png" 
                                     style="width: 20px; height: 20px; 
                                            margin-right: 10px;">
                                <b>Adicionou um novo negócio: </b>
                                <a href=""> Negócio Sull</a>
                                <mat-icon style="float: right;"> work_outline </mat-icon>
                            </li>
                            <mat-divider></mat-divider>
                            <li class="list-group-item p">
                                <img src="../../assets/contato.png" 
                                     style="width: 20px; height: 20px; 
                                            margin-right: 10px;">
                                <b>Adicionou uma nova atividade: </b>
                                <a href=""> Ligar para cliente</a>
                                <mat-icon style="float: right;"> phone </mat-icon>
                            </li>
                        </ul>
                    </div>
                </mat-tab>
                <mat-tab label="Atividades">
                    <div class="col-12">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item p">
                                <mat-icon> watch_later </mat-icon>
                                <b>Planilha clientes ativos: </b>
                                <a href=""> Tarefa</a>
                            </li>
                            <mat-divider></mat-divider>
                            <li class="list-group-item p">
                                <mat-icon>  phone </mat-icon>
                                <b>Ligar para cliente: </b>
                                <a href=""> Ligação</a>
                            </li>
                            <mat-divider></mat-divider>
                            <li class="list-group-item p">
                                <mat-icon>  people </mat-icon>
                                <b>Falar sobre negócio teste: </b>
                                <a href=""> Reunião</a>
                            </li>
                            <mat-divider></mat-divider>
                            <li class="list-group-item p">
                                <mat-icon>  email </mat-icon>
                                <b>Apresentar proposta: </b>
                                <a href=""> Email</a>
                            </li>
                            <mat-divider></mat-divider>
                            <li class="list-group-item p">
                                <mat-icon>  phone </mat-icon>
                                <b>Ligar para cliente: </b>
                                <a href=""> Ligação</a>
                            </li>
                            <mat-divider></mat-divider>
                            <li class="list-group-item p">
                                <mat-icon>  people </mat-icon>
                                <b>Falar sobre negócio teste: </b>
                                <a href=""> Reunião</a>
                            </li>
                            <mat-divider></mat-divider>
                            <li class="list-group-item p">
                                <mat-icon>  business </mat-icon>
                                <b>Visitar empresa x: </b>
                                <a href=""> Visita</a>
                            </li>
                            <mat-divider></mat-divider>
                            <li class="list-group-item p">
                                <mat-icon>  email </mat-icon>
                                <b>Apresentar proposta: </b>
                                <a href=""> Email</a>
                            </li>
                            <mat-divider></mat-divider>
                            <li class="list-group-item p">
                                <mat-icon>  phone </mat-icon>
                                <b>Ligar para cliente: </b>
                                <a href=""> Ligação</a>
                            </li>
                            <mat-divider></mat-divider>
                            <li class="list-group-item p">
                                <mat-icon>  watch_later </mat-icon>
                                <b>Planilha clientes ativos: </b>
                                <a href=""> Tarefa</a>
                            </li>
                        </ul>
                    </div>
                </mat-tab>
                <mat-tab label="Seguindo">
                    <div class="col-12 row">
                        <label style="margin-left: 35%; margin-top: 20px;">Aqui aparece o que está seguindo</label>
                    </div>
                    <div class="col-12">
                        
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div> 