 <div class="main-div">
    
    <div class="col-4 div-left">
        <div class="col-12 real-div">
            <div class="row">
                <div class="col-4">
                    <img src="../../assets/contato.png" style="width: 100px; height: 100px;">
                </div>
                <div class="col-8">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p"><b>Nome:</b>Brenda Aguiar</li>
                        <mat-divider></mat-divider>
                        <li class="list-group-item p"><b>Email:</b>brenda.vedois@hotmail.com</li>
                        <mat-divider></mat-divider>
                        <li class="list-group-item p"><b>Ultimo acesso:</b>7 horas atrás</li>
                        <mat-divider></mat-divider>
                        <li class="list-group-item p"><a href="">Editar perfil</a></li>
                        <mat-divider></mat-divider>
                        <li class="list-group-item p"><a href="">Painel</a></li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-8 div-right">
        <div class="col-12 real-div">
            <mat-tab-group mat-stretch-tabs>
                <mat-tab label="Atualizações"> 
                    <div class="col-12 row">
                        <label style="margin-left: 35%; margin-top: 20px;">Aqui aparecem as Atualizações</label>
                    </div>
                    <div class="col-12">

                    </div>
                </mat-tab>
                <mat-tab label="Atividades">
                    <div class="col-12 row">
                        <label style="margin-left: 35%; margin-top: 20px;">Aqui aparecem as Atividades</label>
                    </div>
                    <div class="col-12">
                        
                    </div>
                </mat-tab>
                <mat-tab label="Seguindo">
                    <div class="col-12 row">
                        <label style="margin-left: 35%; margin-top: 20px;">Aqui aparece o que está seguindo</label>
                    </div>
                    <div class="col-12">
                        
                    </div>
                </mat-tab>
            </mat-tab-group>
    </div>
    </div>
    
</div> 