.main-div {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

.div-left {
	float: left;
}

.div-right {
    float: right;
    overflow: auto;
    height: 530px;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
}::-webkit-scrollbar-track {
    background: rgb(238, 238, 238); 
}::-webkit-scrollbar-thumb {
    background: rgb(204, 204, 204); 
    border-radius: 5px;
}::-webkit-scrollbar-thumb:hover {
    background: rgba(204, 204, 204, 0.623); 
}

.real-div {
    border-radius: 10px; 
    border-style: solid; 
    border-color: rgb(226, 226, 226); 
    border-width: 1px;
    background-color: #fff;
    padding: 10px;
}

.p {
    padding-top: 25px;
    font-size: 13px;
    margin: 1px;
}

.p1 {
    color: rgb(156, 156, 156);
}

mat-icon {
    float: left;
    margin-right: 10px;
    font-size: 25px;
    color: rgb(60, 152, 192);
}

.img1 {
    width: 100px; 
    height: 100px; 
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 100px;
}

.img2 {
    width: 25px; 
    height: 25px; 
    margin-right: 15px;
}