<div class="main-div">
    <div class="col-4 div-left">
        <div class="col-12 real-div">
            <div class="row">
                <div class="col-4">
                    <img src="../../assets/profile.jpg" class="img1">
                </div>
                <div class="col-8">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p"><b>Nome: </b>Brenda Aguiar</li>
                        <li class="list-group-item p"><b>Email: </b>brenda.vedois@hotmail.com</li>
                        <li class="list-group-item p"><b>Ultimo acesso: </b>2 horas atrás</li>
                        <li class="list-group-item p"><a href="">Editar perfil</a></li>
                        <li class="list-group-item p"><a href="">Painel</a></li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8 div-right scrollbar">
        <div class="col-12 real-div">
            <mat-tab-group mat-stretch-tabs>
                <mat-tab label="Atualizações">
                    <div class="col-12">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item p">
                                
                                <img src="../../assets/profile.jpg" class="img2">
                                <b>Adicionou um novo negócio: </b>
                                <a href="">Negócio Teste   </a>
                                <label class="p1">2h</label>
                                <mat-icon style="float: right;"> work_outline </mat-icon>
                            </li>

                            <li class="list-group-item p">
                                <img src="../../assets/profile.jpg" class="img2">
                                <b>Adicionou uma nova organização: </b>
                                <a href="company-detail" target="blank_">Multilaser   </a>
                                <label class="p1">2h</label>
                                <mat-icon style="float: right;"> business </mat-icon>
                            </li>

                            <li class="list-group-item p">
                                <img src="../../assets/profile.jpg" class="img2">
                                <b>Adicionou um novo negócio: </b>
                                <a href="business-detail/27" target="blank_">Negócio Vedois   </a>
                                <label class="p1">3h</label>
                                <mat-icon style="float: right;"> work_outline </mat-icon>
                            </li>

                            <li class="list-group-item p">
                                <img src="../../assets/profile.jpg" class="img2">
                                <b>Adicionou um novo negócio: </b>
                                <a href="business-detail/29" target="blank_">Negócio Sull   </a>
                                <label class="p1">3h</label>
                                <mat-icon style="float: right;"> work_outline </mat-icon>
                            </li>

                            <li class="list-group-item p">
                                <img src="../../assets/profile.jpg" class="img2">
                                <b>Marcou atividade como feita: </b>
                                <a href="">Ligar para cliente   </a>
                                <label class="p1">3h</label>
                                <mat-icon style="float: right;"> done_outline </mat-icon>
                            </li>

                            <li class="list-group-item p">
                                <img src="../../assets/profile.jpg" class="img2">
                                <b>Adicionou uma nova organização: </b>
                                <a href="">Teste   </a>
                                <label class="p1">4h</label>
                                <mat-icon style="float: right;"> business </mat-icon>
                            </li>

                            <li class="list-group-item p">
                                <img src="../../assets/profile.jpg" class="img2">
                                <b>Adicionou uma nova atividade: </b>
                                <a href="">Ligar para cliente   </a>
                                <label class="p1">4h</label>
                                <mat-icon style="float: right;"> phone </mat-icon>
                            </li>

                            <li class="list-group-item p">
                                <img src="../../assets/profile.jpg" class="img2">
                                <b>Adicionou um novo negócio: </b>
                                <a href="business-detail/60" target="blank_">Negócio Teste   </a>
                                <label class="p1">4h</label>
                                <mat-icon style="float: right;"> work_outline </mat-icon>
                            </li>

                            <li class="list-group-item p">
                                <img src="../../assets/profile.jpg" class="img2">
                                <b>Adicionou uma nova atividade: </b>
                                <a href="">Ligar para cliente   </a>
                                <label class="p1">h</label>
                                <mat-icon style="float: right;"> phone </mat-icon>
                            </li>
                        </ul>
                    </div>
                </mat-tab>
                <mat-tab label="Atividades">
                    <div class="col-12">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item p">
                                <mat-icon> watch_later </mat-icon>
                                <b>Planilha clientes ativos: </b>
                                <a href=""> Tarefa</a>
                            </li>
                            <li class="list-group-item">
                                <mat-icon>  phone </mat-icon>
                                <b class=" p">   Ligar para cliente: </b>
                                <a href="" class=" p"> Ligação</a>
                            </li>
                            <li class="list-group-item p">
                                <mat-icon>  people </mat-icon>
                                <b>Falar sobre negócio teste: </b>
                                <a href=""> Reunião</a>
                            </li>
                            <li class="list-group-item p">
                                <mat-icon>  email </mat-icon>
                                <b>Apresentar proposta: </b>
                                <a href=""> Email</a>
                            </li>
                            <li class="list-group-item p">
                                <mat-icon>  phone </mat-icon>
                                <b>Ligar para cliente: </b>
                                <a href=""> Ligação</a>
                            </li>
                            <li class="list-group-item p">
                                <mat-icon>  people </mat-icon>
                                <b>Falar sobre negócio teste: </b>
                                <a href=""> Reunião</a>
                            </li>
                            <li class="list-group-item p">
                                <mat-icon>  business </mat-icon>
                                <b>Visitar empresa x: </b>
                                <a href=""> Visita</a>
                            </li>
                            <li class="list-group-item p">
                                <mat-icon>  email </mat-icon>
                                <b>Apresentar proposta: </b>
                                <a href=""> Email</a>
                            </li>
                            <li class="list-group-item p">
                                <mat-icon>  phone </mat-icon>
                                <b>Ligar para cliente: </b>
                                <a href=""> Ligação</a>
                            </li>
                            <li class="list-group-item p">
                                <mat-icon>  watch_later </mat-icon>
                                <b>Planilha clientes ativos: </b>
                                <a href=""> Tarefa</a>
                            </li>
                            <li class="list-group-item p">
                                <mat-icon>  business </mat-icon>
                                <b>Visitar empresa x: </b>
                                <a href=""> Visita</a>
                            </li>
                            <li class="list-group-item p">
                                <mat-icon>  watch_later </mat-icon>
                                <b>Planilha clientes ativos: </b>
                                <a href=""> Tarefa</a>
                            </li>
                            <li class="list-group-item p">
                                <mat-icon>  email </mat-icon>
                                <b>Apresentar proposta: </b>
                                <a href=""> Email</a>
                            </li>
                        </ul>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div> 