<div class="maindiv ">
  <div class="col-12 row">
    <div class="container">
      <div class="col-12 row">
        <div class="col-4">
          <img class="imglogo" src="../../assets/logologin.png">
        </div>
        <div   class="col-8 divright">
          <div *ngIf="!loading">
          <h4 class="title toright">
            ACESSO AO SISTEMA
          </h4>
          <input type="text" class="form-control mg-tp-70" placeholder="Login" [(ngModel)]='user.username'>
          <input type="password" class="form-control mg-tp-10" placeholder="Senha" [(ngModel)]='user.password'>
          <a href="" class="mg-tp-10 toright">
            Esqueci minha senha
          </a>
          <button type="button" (click)="login()" class="mg-tp-10 toright form-control btn1">
            Acessar
          </button>
        </div>
        <div *ngIf="loading" style="margin-top: -100px;">
          <lottie-animation-view [options]="coinsConfig" [width]="200" [height]="400"
          (animCreated)="handleAnimation2($event)">
        </lottie-animation-view>

        </div>
        </div>

      </div>
    </div>
  </div>
</div>
