<div class="bg-page">
  <div class="row-filters">
    <!-- <button class="buttons" id="showSidebar" (click)="onClick()">Menu</button> -->

    <div class="div-inputs-filters">
      <div class="form-group" class="input-filters">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Mês Atual</option>
          <option>Mês Passado</option>
          <option>Antigos</option>
          <option>Todos</option>
        </select>
      </div>
    </div>

  </div>

  <div cdkDropListGroup class="responsive">

    <div class="repeat-stage">
      <div class="stage">
        <p>Clayton</p>
        <p>R$ 21.000,00 • 11 Neg.</p>
      </div>
      <div cdkDropList [cdkDropListData]="clayton.tickets" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let ticket of this.clayton.tickets" cdkDrag class="lead">
          <div class="align-header-lead">
            <p *ngIf="ticket.empresa" class="company-name">{{ticket.empresa}}</p>
            <div class="flex">
              <p *ngFor="let produto of ticket.product" class="product-name">{{cutVedois(produto.title)}}</p>
            </div>
            <p *ngIf="ticket.termometro && ticket.termometro.value == '0'" class="term-value term-regular">
              {{ticket.termometro.text}}</p>
            <p *ngIf="ticket.termometro && ticket.termometro.value == '50'" class="term-value term-bom">
              {{ticket.termometro.text}}</p>
            <p *ngIf="ticket.termometro && ticket.termometro.value == '100'" class="term-value term-otimo">
              {{ticket.termometro.text}}</p>
          </div>

          <div class="align-footer-lead">
            <p>{{ticket.valorestimado | currency:'BRL':'symbol':'0.2':'pt'}}</p>
            <mat-icon data-toggle="tooltip" data-placement="top" title="Este ícone significa se tem alguma atividade atrelada a essa lead
                Vermelho: Atividade Atrasada
                Laranja: Nenhuma Atividade Atrelada
                Verde: Atividade Futura" id="green">
              error_outline
            </mat-icon>
            <!-- <mat-icon data-toggle="tooltip" data-placement="top" title="Este ícone significa se tem alguma atividade atrelada a essa lead
                Vermelho: Atividade Atrasada
                Laranja: Nenhuma Atividade Atrelada
                Verde: Atividade Futura"
                id="orange">
                error_outline
              </mat-icon>
              <mat-icon data-toggle="tooltip" data-placement="top" title="Este ícone significa se tem alguma atividade atrelada a essa lead
                Vermelho: Atividade Atrasada
                Laranja: Nenhuma Atividade Atrelada
                Verde: Atividade Futura"
                id="red"
                >
                error_outline
              </mat-icon> -->
          </div>
        </div>
      </div>
    </div>

    <div class="repeat-stage">
      <div class="stage">
        <p>Gisela</p>
        <p>R$ 21.000,00 • 11 Neg.</p>
      </div>
      <div cdkDropList [cdkDropListData]="gisela.tickets" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let ticket of this.gisela.tickets" cdkDrag class="lead">
          <div class="align-header-lead">
            <p *ngIf="ticket.empresa" class="company-name">{{ticket.empresa}}</p>
            <div class="flex">
              <p *ngFor="let produto of ticket.product" class="product-name">{{cutVedois(produto.title)}}</p>
            </div>
            <p *ngIf="ticket.termometro && ticket.termometro.value == '0'" class="term-value term-regular">
              {{ticket.termometro.text}}</p>
            <p *ngIf="ticket.termometro && ticket.termometro.value == '50'" class="term-value term-bom">
              {{ticket.termometro.text}}</p>
            <p *ngIf="ticket.termometro && ticket.termometro.value == '100'" class="term-value term-otimo">
              {{ticket.termometro.text}}</p>
          </div>

          <div class="align-footer-lead">
            <p>RS 30.000</p>
            <mat-icon data-toggle="tooltip" data-placement="top" title="Este ícone significa se tem alguma atividade atrelada a essa lead
                Vermelho: Atividade Atrasada
                Laranja: Nenhuma Atividade Atrelada
                Verde: Atividade Futura" id="green">
              error_outline
            </mat-icon>
            <!-- <mat-icon data-toggle="tooltip" data-placement="top" title="Este ícone significa se tem alguma atividade atrelada a essa lead
                Vermelho: Atividade Atrasada
                Laranja: Nenhuma Atividade Atrelada
                Verde: Atividade Futura"
                id="orange">
                error_outline
              </mat-icon>
              <mat-icon data-toggle="tooltip" data-placement="top" title="Este ícone significa se tem alguma atividade atrelada a essa lead
                Vermelho: Atividade Atrasada
                Laranja: Nenhuma Atividade Atrelada
                Verde: Atividade Futura"
                id="red"
                >
                error_outline
              </mat-icon> -->
          </div>
        </div>
      </div>
    </div>

    <div class="repeat-stage">
      <div class="stage">
        <p>Jéssica</p>
        <p>R$ 21.000,00 • 11 Neg.</p>
      </div>

      <div cdkDropList [cdkDropListData]="jessica.tickets" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let ticket of this.jessica.tickets" cdkDrag class="lead">
          <div class="align-header-lead">
            <p *ngIf="ticket.empresa" class="company-name">{{ticket.empresa}}</p>
            <div class="flex">
              <p *ngFor="let produto of ticket.product" class="product-name">{{cutVedois(produto.title)}}</p>
            </div>
            <p *ngIf="ticket.termometro && ticket.termometro.value == '0'" class="term-value term-regular">
              {{ticket.termometro.text}}</p>
            <p *ngIf="ticket.termometro && ticket.termometro.value == '50'" class="term-value term-bom">
              {{ticket.termometro.text}}</p>
            <p *ngIf="ticket.termometro && ticket.termometro.value == '100'" class="term-value term-otimo">
              {{ticket.termometro.text}}</p>
          </div>

          <div class="align-footer-lead">
            <p>RS 30.000</p>
            <mat-icon data-toggle="tooltip" data-placement="top" title="Este ícone significa se tem alguma atividade atrelada a essa lead
                Vermelho: Atividade Atrasada
                Laranja: Nenhuma Atividade Atrelada
                Verde: Atividade Futura" id="green">
              error_outline
            </mat-icon>
            <!-- <mat-icon data-toggle="tooltip" data-placement="top" title="Este ícone significa se tem alguma atividade atrelada a essa lead
                Vermelho: Atividade Atrasada
                Laranja: Nenhuma Atividade Atrelada
                Verde: Atividade Futura"
                id="orange">
                error_outline
              </mat-icon>
              <mat-icon data-toggle="tooltip" data-placement="top" title="Este ícone significa se tem alguma atividade atrelada a essa lead
                Vermelho: Atividade Atrasada
                Laranja: Nenhuma Atividade Atrelada
                Verde: Atividade Futura"
                id="red"
                >
                error_outline
              </mat-icon> -->
          </div>
        </div>
      </div>
    </div>
    <div class="repeat-stage">
      <div class="stage">
        <p>Fabiana</p>
        <p>R$ 21.000,00 • 11 Neg.</p>
      </div>
      <div cdkDropList [cdkDropListData]="fabiana.tickets" (cdkDropListDropped)="drop($event)">

        <div *ngFor="let ticket of this.fabiana.tickets" cdkDrag class="lead">
          <div class="align-header-lead">
            <p *ngIf="ticket.empresa" class="company-name">{{ticket.empresa}}</p>
            <div class="flex">
              <p *ngFor="let produto of ticket.product" class="product-name">{{cutVedois(produto.title)}}</p>
            </div>
            <p *ngIf="ticket.termometro && ticket.termometro.value == '0'" class="term-value term-regular">
              {{ticket.termometro.text}}</p>
            <p *ngIf="ticket.termometro && ticket.termometro.value == '50'" class="term-value term-bom">
              {{ticket.termometro.text}}</p>
            <p *ngIf="ticket.termometro && ticket.termometro.value == '100'" class="term-value term-otimo">
              {{ticket.termometro.text}}</p>
          </div>

          <div class="align-footer-lead">
            <p>RS 30.000</p>
            <mat-icon data-toggle="tooltip" data-placement="top" title="Este ícone significa se tem alguma atividade atrelada a essa lead
                Vermelho: Atividade Atrasada
                Laranja: Nenhuma Atividade Atrelada
                Verde: Atividade Futura" id="green">
              error_outline
            </mat-icon>
            <!-- <mat-icon data-toggle="tooltip" data-placement="top" title="Este ícone significa se tem alguma atividade atrelada a essa lead
                Vermelho: Atividade Atrasada
                Laranja: Nenhuma Atividade Atrelada
                Verde: Atividade Futura"
                id="orange">
                error_outline
              </mat-icon>
              <mat-icon data-toggle="tooltip" data-placement="top" title="Este ícone significa se tem alguma atividade atrelada a essa lead
                Vermelho: Atividade Atrasada
                Laranja: Nenhuma Atividade Atrelada
                Verde: Atividade Futura"
                id="red"
                >
                error_outline
              </mat-icon> -->
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
