<div class="bg-page">
  <div class="row-filters">
    <div style="display: flex;">
      <button class="buttons">+ Lead</button>
      <!-- <button class="buttons" id="showSidebar" (click)="onClick()">Menu</button> -->
    </div>

    <div class="div-inputs-filters">
      <div class="form-group" class="input-filters">
        <label for="seller">Vendedor: </label>
        <select class="form-control" id="seller">
          <option>Fabiana</option>
          <option>Gisela</option>
          <option>Jessica</option>
          <option>Clayton</option>
        </select>
      </div>


      <div class="form-group" class="input-filters">
        <label for="date" style="width: 150px;">Data Inicial: </label>
        <select class="form-control" id="date">
          <option>Mês Atual</option>
          <option>Mês Passado</option>
          <option>Antigos</option>
          <option>Todos</option>
        </select>
      </div>
    </div>

  </div>

  <!-- Estágios  -->

  <div class="responsive">
    <div class="repeat-stage">
      <div class="stage">
        <p>Contatado</p>
        <p>R$ {{this.contatado.valor}} • {{this.contatado.tickets.length}} Neg.</p>
      </div>

      <div *ngFor="let ticket of this.contatado.tickets" class="lead">
        <div class="align-header-lead">
          <p>{{ticket.titulo}}</p>
          <div class="therm" style="background-color: yellow;"></div>
        </div>

        <div class="align-footer-lead">
          <p>{{ticket.valorestimado}}</p>
          <div class="therm" style="background-color: red;"></div>
        </div>
      </div>

    </div>


    <div class="repeat-stage">
      <div class="stage">
        <p>Cliente Potencial</p>
        <p>R$ 21.000,00 • 11 Neg.</p>
      </div>

      <div class="lead">
        <div class="align-header-lead">
          <p>ALL4LABELS - OEE</p>
          <div class="therm" style="background-color: yellow;"></div>
        </div>

        <div class="align-footer-lead">
          <p>RS 30.000</p>
          <div class="therm" style="background-color: red;"></div>
        </div>
      </div>
      <div class="lead">
        <div class="align-header-lead">
          <p>ALL4LABELS - OEE</p>
          <div class="therm" style="background-color: yellow;"></div>
        </div>

        <div class="align-footer-lead">
          <p>RS 30.000</p>
          <div class="therm" style="background-color: red;"></div>
        </div>
      </div>
    </div>
    <div class="repeat-stage">
      <div class="stage">
        <p>Demo Agendada</p>
        <p>R$ 21.000,00 • 11 Neg.</p>
      </div>

      <div class="lead">
        <div class="align-header-lead">
          <p>ALL4LABELS - OEE</p>
          <div class="therm" style="background-color: yellow;"></div>
        </div>

        <div class="align-footer-lead">
          <p>RS 30.000</p>
          <div class="therm" style="background-color: red;"></div>
        </div>
      </div>
    </div>
    <div class="repeat-stage">
      <div class="stage">
        <p>Proposta</p>
        <p>R$ 21.000,00 • 11 Neg.</p>
      </div>

      <div class="lead">
        <div class="align-header-lead">
          <p>ALL4LABELS - OEE</p>
          <div class="therm" style="background-color: yellow;"></div>
        </div>

        <div class="align-footer-lead">
          <p>RS 30.000</p>
          <div class="therm" style="background-color: red;"></div>
        </div>
      </div>
      <div class="lead">
        <div class="align-header-lead">
          <p>ALL4LABELS - OEE</p>
          <div class="therm" style="background-color: yellow;"></div>
        </div>

        <div class="align-footer-lead">
          <p>RS 30.000</p>
          <div class="therm" style="background-color: red;"></div>
        </div>
      </div>
      <div class="lead">
        <div class="align-header-lead">
          <p>ALL4LABELS - OEE</p>
          <div class="therm" style="background-color: yellow;"></div>
        </div>

        <div class="align-footer-lead">
          <p>RS 30.000</p>
          <div class="therm" style="background-color: red;"></div>
        </div>
      </div>
    </div>
    <div class="repeat-stage">
      <div class="stage">
        <p>Negociações Inic.</p>
        <p>R$ 21.000,00 • 11 Neg.</p>
      </div>

      <div class="lead">
        <div class="align-header-lead">
          <p>ALL4LABELS - OEE</p>
          <div class="therm" style="background-color: yellow;"></div>
        </div>

        <div class="align-footer-lead">
          <p>RS 30.000</p>
          <div class="therm" style="background-color: red;"></div>
        </div>
      </div>
    </div>

  </div>

</div>
