<div class="bg-page">
  <div class="row-filters">
    <div style="display: flex;">
      <button class="buttons" data-toggle="modal" data-target="#modalAddLead">+ Lead</button>
      <!-- <button class="buttons" id="showSidebar" (click)="onClick()">Menu</button> -->
    </div>

    <div class="div-inputs-filters">
      <div class="form-group" class="input-filters">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Mês Atual</option>
          <option>Mês Passado</option>
          <option>Antigos</option>
          <option>Todos</option>
        </select>
      </div>
    </div>

  </div>

  <div cdkDropListGroup class="responsive">

    <div class="repeat-stage">
      <div class="stage">
        <p>Clayton</p>
        <p>R$ 21.000,00 • 11 Neg.</p>
      </div>
      <div cdkDropList [cdkDropListData]="clayton.tickets" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let ticket of this.clayton.tickets" cdkDrag class="lead">
          <div class="align-header-lead">
            <p *ngIf="ticket.empresa" class="company-name">{{ticket.empresa}}</p>
            <div class="flex">
              <p *ngFor="let produto of ticket.product" class="product-name">{{cutVedois(produto.title)}}</p>
            </div>
            <p *ngIf="ticket.termometro && ticket.termometro.value == '0'" class="term-value term-regular">
              {{ticket.termometro.text}}</p>
            <p *ngIf="ticket.termometro && ticket.termometro.value == '50'" class="term-value term-bom">
              {{ticket.termometro.text}}</p>
            <p *ngIf="ticket.termometro && ticket.termometro.value == '100'" class="term-value term-otimo">
              {{ticket.termometro.text}}</p>
          </div>

          <div class="align-footer-lead">
            <p>{{ticket.valorestimado | currency:'BRL':'symbol':'0.2':'pt'}}</p>
            <mat-icon data-toggle="tooltip" data-placement="top" title="Este ícone significa se tem alguma atividade atrelada a essa lead
              Vermelho: Atividade Atrasada
              Laranja: Nenhuma Atividade Atrelada
              Verde: Atividade Futura" id="green">
              error_outline
            </mat-icon>
            <!-- <mat-icon data-toggle="tooltip" data-placement="top" title="Este ícone significa se tem alguma atividade atrelada a essa lead
              Vermelho: Atividade Atrasada
              Laranja: Nenhuma Atividade Atrelada
              Verde: Atividade Futura"
              id="orange">
              error_outline
            </mat-icon>
            <mat-icon data-toggle="tooltip" data-placement="top" title="Este ícone significa se tem alguma atividade atrelada a essa lead
              Vermelho: Atividade Atrasada
              Laranja: Nenhuma Atividade Atrelada
              Verde: Atividade Futura"
              id="red"
              >
              error_outline
            </mat-icon> -->
          </div>
        </div>
      </div>
    </div>

    <div class="repeat-stage">
      <div class="stage">
        <p>Gisela</p>
        <p>R$ 21.000,00 • 11 Neg.</p>
      </div>
      <div cdkDropList [cdkDropListData]="gisela.tickets" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let ticket of this.gisela.tickets" cdkDrag class="lead">
          <div class="align-header-lead">
            <p *ngIf="ticket.empresa" class="company-name">{{ticket.empresa}}</p>
            <div class="flex">
              <p *ngFor="let produto of ticket.product" class="product-name">{{cutVedois(produto.title)}}</p>
            </div>
            <p *ngIf="ticket.termometro && ticket.termometro.value == '0'" class="term-value term-regular">
              {{ticket.termometro.text}}</p>
            <p *ngIf="ticket.termometro && ticket.termometro.value == '50'" class="term-value term-bom">
              {{ticket.termometro.text}}</p>
            <p *ngIf="ticket.termometro && ticket.termometro.value == '100'" class="term-value term-otimo">
              {{ticket.termometro.text}}</p>
          </div>

          <div class="align-footer-lead">
            <p>RS 30.000</p>
            <mat-icon data-toggle="tooltip" data-placement="top" title="Este ícone significa se tem alguma atividade atrelada a essa lead
              Vermelho: Atividade Atrasada
              Laranja: Nenhuma Atividade Atrelada
              Verde: Atividade Futura" id="green">
              error_outline
            </mat-icon>
            <!-- <mat-icon data-toggle="tooltip" data-placement="top" title="Este ícone significa se tem alguma atividade atrelada a essa lead
              Vermelho: Atividade Atrasada
              Laranja: Nenhuma Atividade Atrelada
              Verde: Atividade Futura"
              id="orange">
              error_outline
            </mat-icon>
            <mat-icon data-toggle="tooltip" data-placement="top" title="Este ícone significa se tem alguma atividade atrelada a essa lead
              Vermelho: Atividade Atrasada
              Laranja: Nenhuma Atividade Atrelada
              Verde: Atividade Futura"
              id="red"
              >
              error_outline
            </mat-icon> -->
          </div>
        </div>
      </div>
    </div>

    <div class="repeat-stage">
      <div class="stage">
        <p>Jéssica</p>
        <p>R$ 21.000,00 • 11 Neg.</p>
      </div>

      <div cdkDropList [cdkDropListData]="jessica.tickets" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let ticket of this.jessica.tickets" cdkDrag class="lead">
          <div class="align-header-lead">
            <p *ngIf="ticket.empresa" class="company-name">{{ticket.empresa}}</p>
            <div class="flex">
              <p *ngFor="let produto of ticket.product" class="product-name">{{cutVedois(produto.title)}}</p>
            </div>
            <p *ngIf="ticket.termometro && ticket.termometro.value == '0'" class="term-value term-regular">
              {{ticket.termometro.text}}</p>
            <p *ngIf="ticket.termometro && ticket.termometro.value == '50'" class="term-value term-bom">
              {{ticket.termometro.text}}</p>
            <p *ngIf="ticket.termometro && ticket.termometro.value == '100'" class="term-value term-otimo">
              {{ticket.termometro.text}}</p>
          </div>

          <div class="align-footer-lead">
            <p>RS 30.000</p>
            <mat-icon data-toggle="tooltip" data-placement="top" title="Este ícone significa se tem alguma atividade atrelada a essa lead
              Vermelho: Atividade Atrasada
              Laranja: Nenhuma Atividade Atrelada
              Verde: Atividade Futura" id="green">
              error_outline
            </mat-icon>
            <!-- <mat-icon data-toggle="tooltip" data-placement="top" title="Este ícone significa se tem alguma atividade atrelada a essa lead
              Vermelho: Atividade Atrasada
              Laranja: Nenhuma Atividade Atrelada
              Verde: Atividade Futura"
              id="orange">
              error_outline
            </mat-icon>
            <mat-icon data-toggle="tooltip" data-placement="top" title="Este ícone significa se tem alguma atividade atrelada a essa lead
              Vermelho: Atividade Atrasada
              Laranja: Nenhuma Atividade Atrelada
              Verde: Atividade Futura"
              id="red"
              >
              error_outline
            </mat-icon> -->
          </div>
        </div>
      </div>
    </div>
    <div class="repeat-stage">
      <div class="stage">
        <p>Fabiana</p>
        <p>R$ 21.000,00 • 11 Neg.</p>
      </div>
      <div cdkDropList [cdkDropListData]="fabiana.tickets" (cdkDropListDropped)="drop($event)">

        <div *ngFor="let ticket of this.fabiana.tickets" cdkDrag class="lead">
          <div class="align-header-lead">
            <p *ngIf="ticket.empresa" class="company-name">{{ticket.empresa}}</p>
            <div class="flex">
              <p *ngFor="let produto of ticket.product" class="product-name">{{cutVedois(produto.title)}}</p>
            </div>
            <p *ngIf="ticket.termometro && ticket.termometro.value == '0'" class="term-value term-regular">
              {{ticket.termometro.text}}</p>
            <p *ngIf="ticket.termometro && ticket.termometro.value == '50'" class="term-value term-bom">
              {{ticket.termometro.text}}</p>
            <p *ngIf="ticket.termometro && ticket.termometro.value == '100'" class="term-value term-otimo">
              {{ticket.termometro.text}}</p>
          </div>

          <div class="align-footer-lead">
            <p>RS 30.000</p>
            <mat-icon data-toggle="tooltip" data-placement="top" title="Este ícone significa se tem alguma atividade atrelada a essa lead
              Vermelho: Atividade Atrasada
              Laranja: Nenhuma Atividade Atrelada
              Verde: Atividade Futura" id="green">
              error_outline
            </mat-icon>
            <!-- <mat-icon data-toggle="tooltip" data-placement="top" title="Este ícone significa se tem alguma atividade atrelada a essa lead
              Vermelho: Atividade Atrasada
              Laranja: Nenhuma Atividade Atrelada
              Verde: Atividade Futura"
              id="orange">
              error_outline
            </mat-icon>
            <mat-icon data-toggle="tooltip" data-placement="top" title="Este ícone significa se tem alguma atividade atrelada a essa lead
              Vermelho: Atividade Atrasada
              Laranja: Nenhuma Atividade Atrelada
              Verde: Atividade Futura"
              id="red"
              >
              error_outline
            </mat-icon> -->
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- MODAL ADD LEAD -->
<div class="modal fade" id="modalAddLead" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Adicione uma Lead
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="company">Empresa</label>
            <button mat-icon-button (click)="redirectToAdd('#/company-register')">
              <mat-icon class="icon-modal-lead">add</mat-icon>
            </button>
            <select class="form-control" id="company">
              <option>
                Teste
              </option>
            </select>
          </div>
          <div class="form-group col-md-6" style="margin-top: 15px;">
            <label for="value">Valor Estimado</label>
            <input type="text" class="form-control" id="value" aria-describedby="emailHelp" placeholder="Valor"
              currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
          </div>
        </div>

        <div class="row" style="justify-content: space-around; align-items: center; margin: 30px 0 10px 0;">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
              checked>
            <label class="form-check-label" for="exampleRadios1">
              Produto
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
              checked>
            <label class="form-check-label" for="exampleRadios1">
              DDP
            </label>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="product">Produto</label>
            <button mat-icon-button data-toggle="modal" data-target="#exampleModalProd" data-dismiss="modal">
              <mat-icon class="icon-modal-lead">add</mat-icon>
            </button>
            <select multiple class="form-control" id="product">
              <option>
                Teste
              </option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="ddp">DDP</label>
            <button mat-icon-button data-toggle="modal" data-target="#addDdp" data-dismiss="modal">
              <mat-icon class="icon-modal-lead">add</mat-icon>
            </button>
            <select multiple class="form-control" id="ddp">
              <option>
                Teste
              </option>
            </select>
          </div>

        </div>

        <div class="row">
          <div class="form-group col-md-12" style="margin: 20px 0 15px 0;">
            <label for="thermometro">Termômetro</label>
            <input type="range" class="form-control-range" id="thermometro" value="0" step="50" class="slider" />
            <div style="display: flex; justify-content: space-between">
              <span>Regular</span>
              <span>Bom</span>
              <span>Ótimo</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="contact">Contato</label>
            <select class="form-control" id="contact">
              <option>
                Teste
              </option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="stage">Estágio Inicial</label>
            <select class="form-control" id="stage" required>
              <option>
                Teste
              </option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6" style="margin-top: 8px;">
            <label for="ven_int">Vendedor Interno</label>
            <select class="form-control" id="ven_int" required>
              <option>
                Teste
              </option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="ven_ext">Vendedor Externo</label>
            <button mat-icon-button data-toggle="modal" data-target="#exampleModalVendedorExt" data-dismiss="modal">
              <mat-icon class="icon-modal-lead">add</mat-icon>
            </button>
            <select class="form-control" id="ven_ext">
              <option>
                Teste
              </option>
            </select>
          </div>
        </div>
        <!--
          <div class="row">
            <label style="margin-left: 10px;">Anexos</label>
            <label id="label-input">
              <input [(ngModel)]="ticket.file" type="file" single id="input-file">
            </label>
          </div> -->

        <div class="row">
          <div class="form-group col-md-12">
            <label for="obs">Observação</label>
            <textarea class="form-control" id="obs" rows="3" (keyup)="maiuscula($event.target.value, 2)">
            </textarea>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button (click)="exitCreateLead()" type="button" class="btn btn-secondary" data-dismiss="modal">
          Sair
        </button>
        <button (click)="addLeads()" class="btn btn-primary" data-dismiss="modal">
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- ADD PRODUCT -->
<!-- <div class="modal fade" id="exampleModalProd" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img src="../../assets/icone-produto.png" class="img-prod" />
        <h5 class="modal-title" id="exampleModalLongTitle">
          Cadastrar Produto
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="form-group col-md-6">
          <label for="codeprod"> Código</label>
          <input [(ngModel)]="produto.codigo" disabled type="text" class="form-control" id="codeprod"
            value="{{this.code1}}" />
        </div>
        <button class="btn btn-primary" [disabled]="disableCode" (click)="generateCode1()" id="code">
          <img src="../../assets/cod.png" id="codigo">
        </button>
        <div class="form-group col-md-12">
          <label for="nomeprod"> Descrição</label>
          <input [(ngModel)]="produto.nome" (keyup)="maiuscula($event.target.value, 3)" type="text" class="form-control"
            id="nomeprod" required />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal"
          data-target="#modalAddLead">
          Sair
        </button>
        <button type="button" (click)="saveProduto()" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
          data-target="#modalAddLead">
          Salvar
        </button>
      </div>
    </div>
  </div>
</div> -->

<!-- ADD SELLER EXTERNAL -->
<div class="modal fade" id="exampleModalVendedorExt" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img src="../../assets/icone-produto.png" class="img-prod" />
        <h5 class="modal-title" id="exampleModalLongTitle">
          Cadastrar Vendedor Externo
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="form-group col-md-12">
          <label for="nomeprod"> Nome</label>
          <input type="text" class="form-control" id="nomeprod" required (keyup)="maiuscula($event.target.value, 4)" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal"
          data-target="#modalAddLead">
          Sair
        </button>
        <button type="button" (click)="saveVendedorExt()" class="btn btn-primary" data-dismiss="modal"
          data-toggle="modal" data-target="#modalAddLead">
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- ADD DDP -->
<div class="modal fade" id="addDdp" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img src="../../assets/icone-produto.png" class="img-prod" />
        <h5 class="modal-title" id="exampleModalLongTitle">
          Cadastrar DDP
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="form-group col-md-6">
          <label for="codeddp"> Código</label>
          <input disabled type="text" class="form-control" id="codeddp" value="{{this.code1}}" />
        </div>
        <button class="btn btn-primary" [disabled]="disableCode" (click)="generateCode1()" id="code">
          <img src="../../assets/cod.png" id="codigo">
        </button>
        <div class="form-group col-md-12">
          <label for="nameddp"> Descrição</label>
          <input (keyup)="maiuscula($event.target.value, 3)" type="text" class="form-control" id="nameddp" required />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal"
          data-target="#modalAddLead">
          Sair
        </button>
        <button type="button" (click)="saveProduto()" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
          data-target="#modalAddLead">
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>
