.bg-page {
  display: block;
  width: 100%;
}

.row-filters {
  display: flex;
  align-items: center;
  height: fit-content;
  margin: 20px 5px;
}

.scroll-leads {
  overflow-x: auto;
  display: flex;
  justify-content: center;
}

.stage p:first-of-type {
  color: #000;
}

.stage p + p {
  color: #363737;
}

label {
  margin-right: 5px;
  margin-bottom: 0;
}

.buttons {
  width: 110px;
  height: 35px;
  border: 0;
  background: #3741DC;
  border-radius: 4px;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  transition: 0.2s;
}

.buttons:hover {
  background: #858CF0;
}

.buttons + .buttons {
  margin-left: 8px;
}

.responsive {
  display: flex;
  width: 100%;
}

.div-inputs-filters {
  display: flex;
  width: 50%;
  margin-left: auto;
}

.input-filters {
  display: flex;
  margin-left: auto;
}

@media (max-width: 756px) {
  .bg-page {
    display: grid;
  }

  .responsive {
    display: inline-grid;
    width: 75%;
    margin: 0 auto;
  }

  .repeat-stage {
    margin-top: 5px;
  }

  .stage {
    margin: 0 auto
  }

  .row-filters {
    display: grid;
    justify-content: center;
  }

  .input-filters {
    display: block;
  }

  .input-filters:nth-child(2) {
    margin-left: 50px;
  }

  .div-inputs-filters {
    margin-left: 0;
    width: 100%;
  }

  .buttons + .buttons {
    margin-left: 45px;
  }
}

@media (max-width: 1400px) {
  .stage {
    width: 290px;
  }

  .lead {
    width: 265px;
  }
}

@media (min-width: 1900px) {
  .stage {
    width: 415px;
  }

  .lead {
    width: 380px;
  }
}

.lead:hover {
  background: #6E6F71;
  color: #fff;
}

.align-header-lead p {
  font-size: 14px;
}

.align-footer-lead {
  display: flex;
  align-items: center;
}

.align-footer-lead p {
  font-size: 13px;
}

.therm {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: auto;
}

.form-group {
  margin-bottom: 0;
  align-items: center;
}


::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #A4A5AB;
  border-radius: 10px;
  transition: 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: #7C7C7E;
}

.icon-modal-lead{
  margin-right: 10px;
  font-weight: bold;
  width: 21px;
  height: 21px;
  font-size: 18px;
  border-radius: 100px;
  background-color: #c2c2c2;
  color: #ffffff;
  font-size: 20px;
  margin-left: 5px;
}

.img-prod{
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-right: 5px;
}

img#codigo {
  height: 20px;
  margin-bottom: 8px;
}

button#code {
  height: 35px;
  margin-top: 25px;
}

::-webkit-slider-runnable-track {
  margin-top: 18px;
  height: 10px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #e23a3a, #f8ff97, #78ac78);
}

::-webkit-slider-thumb {
  margin-top: -7px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 20px;
  border-radius: 25%;
  background: #3c98c0;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 20px;
  border-radius: 25%;
  background: #3c98c0;
  cursor: pointer;
}

span {
  margin-top: 10px;
}

span:nth-child(1) {
  margin-left: -5px;
}

span:nth-child(2) {
  margin-left: 55px;
}

span:nth-child(3) {
  margin-left: 40px;
}

#red, #green, #orange {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-bottom: 3px;
}

#red {
  color: #e23a3a;
}

#green {
  color: #4da84d;
}

#orange {
  color: orange;
}
