<div class="bg-page">
  <div class="row-filters">
    <div style="display: flex;">
      <button class="buttons">+ Lead</button>
      <!-- <button class="buttons" id="showSidebar" (click)="onClick()">Menu</button> -->
    </div>

    <div class="div-inputs-filters">
      <div class="form-group" class="input-filters">
        <label for="exampleFormControlSelect1" style="width: 150px;">Data Inicial: </label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Mês Atual</option>
          <option>Mês Passado</option>
          <option>Antigos</option>
          <option>Todos</option>
        </select>
      </div>
    </div>

  </div>

  <div class="responsive">
    <div class="repeat-stage">
      <div class="stage">
        <p>Clayton</p>
        <p>R$ 21.000,00 • 11 Neg.</p>
      </div>
      <div class="lead">
        <div class="align-header-lead">
          <p>ALL4LABELS - OEE</p>
          <div class="therm" style="background-color: yellow;"></div>
        </div>

        <div class="align-footer-lead">
          <p>RS 30.000</p>
          <div class="therm" style="background-color: red;"></div>
        </div>
      </div>
      <div class="lead">
        <div class="align-header-lead">
          <p>ALL4LABELS - OEE</p>
          <div class="therm" style="background-color: yellow;"></div>
        </div>

        <div class="align-footer-lead">
          <p>RS 30.000</p>
          <div class="therm" style="background-color: red;"></div>
        </div>
      </div>
      <div class="lead">
        <div class="align-header-lead">
          <p>ALL4LABELS - OEE</p>
          <div class="therm" style="background-color: yellow;"></div>
        </div>

        <div class="align-footer-lead">
          <p>RS 30.000</p>
          <div class="therm" style="background-color: red;"></div>
        </div>
      </div>

    </div>
    <div class="repeat-stage">
      <div class="stage">
        <p>Gisela</p>
        <p>R$ 21.000,00 • 11 Neg.</p>
      </div>
      <div class="lead">
        <div class="align-header-lead">
          <p>ALL4LABELS - OEE</p>
          <div class="therm" style="background-color: yellow;"></div>
        </div>

        <div class="align-footer-lead">
          <p>RS 30.000</p>
          <div class="therm" style="background-color: red;"></div>
        </div>
      </div>
      <div class="lead">
        <div class="align-header-lead">
          <p>ALL4LABELS - OEE</p>
          <div class="therm" style="background-color: yellow;"></div>
        </div>

        <div class="align-footer-lead">
          <p>RS 30.000</p>
          <div class="therm" style="background-color: red;"></div>
        </div>
      </div>
    </div>
    <div class="repeat-stage">
      <div class="stage">
        <p>Jéssica</p>
        <p>R$ 21.000,00 • 11 Neg.</p>
      </div>
      <div class="lead">
        <div class="align-header-lead">
          <p>ALL4LABELS - OEE</p>
          <div class="therm" style="background-color: yellow;"></div>
        </div>

        <div class="align-footer-lead">
          <p>RS 30.000</p>
          <div class="therm" style="background-color: red;"></div>
        </div>
      </div>
      <div class="lead">
        <div class="align-header-lead">
          <p>ALL4LABELS - OEE</p>
          <div class="therm" style="background-color: yellow;"></div>
        </div>

        <div class="align-footer-lead">
          <p>RS 30.000</p>
          <div class="therm" style="background-color: red;"></div>
        </div>
      </div>
      <div class="lead">
        <div class="align-header-lead">
          <p>ALL4LABELS - OEE</p>
          <div class="therm" style="background-color: yellow;"></div>
        </div>

        <div class="align-footer-lead">
          <p>RS 30.000</p>
          <div class="therm" style="background-color: red;"></div>
        </div>
      </div>
    </div>
    <div class="repeat-stage">
      <div class="stage">
        <p>Fabiana</p>
        <p>R$ 21.000,00 • 11 Neg.</p>
      </div>
      <div class="lead">
        <div class="align-header-lead">
          <p>ALL4LABELS - OEE</p>
          <div class="therm" style="background-color: yellow;"></div>
        </div>

        <div class="align-footer-lead">
          <p>RS 30.000</p>
          <div class="therm" style="background-color: red;"></div>
        </div>
      </div>
      <div class="lead">
        <div class="align-header-lead">
          <p>ALL4LABELS - OEE</p>
          <div class="therm" style="background-color: yellow;"></div>
        </div>

        <div class="align-footer-lead">
          <p>RS 30.000</p>
          <div class="therm" style="background-color: red;"></div>
        </div>
      </div>
    </div>

  </div>

</div>
