<div style="padding-top: 100px;">
    <button type="button" class="btn btn-primary loc-button-top" data-toggle="modal" data-target="#exampleModalCenter">
        <mat-icon>add</mat-icon>
        <p style="margin-left: 5px;">Pessoa</p>
    </button>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Adicione uma Pessoa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="row">
                        <div class="form-group col-md-12">
                            <label for="exampleInputEmail1">Nome</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Organização</label>
                                <input type="email" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Telefone</label>
                                <input type="email" class="form-control">
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="text" class="form-control">
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
                    <button type="button" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="form-group col-3 filter">
        <input class="form-control" type="text" (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="org">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Organização </th>
            <td mat-cell *matCellDef="let element"> {{element.org}} </td>
        </ng-container>

        <ng-container matColumnDef="tel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefone </th>
            <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="neg_f">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Negociações Fechadas </th>
            <td mat-cell *matCellDef="let element"> {{element.neg_f}} </td>
        </ng-container>

        <ng-container matColumnDef="neg_a">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Negociações Abertas </th>
            <td mat-cell *matCellDef="let element"> {{element.neg_a}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>