<div id="principal">
  <nav class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <a href="#" routerLink="/dashboard/funil" class="list-group-item list-group-item-action bg-light">Funil</a>
      <a href="#" routerLink="/dashboard/prospeccoes" class="list-group-item list-group-item-action bg-light">Prospecções</a>
      <a href="#" routerLink="/dashboard/leads-ganhas" class="list-group-item list-group-item-action bg-light">Ganhas</a>
      <a href="#" routerLink="/dashboard/leads-perdidas" class="list-group-item list-group-item-action bg-light">Perdidas</a>
    </div>
  </nav>
</div>